/* Floating Toolbox */

#main-window:not([customizing="true"]) #navigator-toolbox {
  display: grid;
  transition: transform 85ms linear, opacity 85ms linear !important;
  transform-origin: top;
  transform: rotateX(75deg);
  opacity: 0;
}
