menupopup,
menupopup menuitem,
menupopup menu,
menupopup menuseparator {
  -moz-appearance: none !important;
}

menupopup,
panel[type="autocomplete-richlistbox"] {
  --panel-padding: 0px !important;
  -moz-window-shadow: none !important;
  /* background: 0 !important; */
  border: 0 !important;
  color: var(--text-color1) !important;
  box-sizing: content-box !important;
}

menupopup #contentAreaContextMenu {
  max-width: 250px !important;
}

menupopup {
  padding: 11px 14px 19px 14px !important;
  margin: -19px -14px 0 !important;
}

#toolbar-menubar > #menubar-items > #main-menubar > menu > menupopup {
  margin-top: -12px !important;
}

menuitem[type="checkbox"] > .menu-iconic-left,
menuitem[type="radio"] > .menu-iconic-left {
  display: -moz-box !important;
  padding-inline-end: 1em !important;
  margin-inline-end: 0px !important;
}

menuitem:not([type="checkbox"], [type="radio"]) > .menu-iconic-left {
  display: -moz-box !important;
  padding-inline-end: 0px !important;
  margin-inline-end: 0px !important;
}

menupopup menuseparator {
  margin: 6px 6px !important;
  padding: 0 !important;
  height: 1px !important;
  background: currentColor !important;
  opacity: .12 !important;
}

menupopup menuitem,
menupopup menu,
.autocomplete-richlistitem {
  height: var(--menupopup-height) !important;
  padding: 0 4px !important;
  margin: 0 4px !important;
  border: 0 !important;
  /* background: 0 !important; */
  color: inherit !important;
  fill-opacity: initial !important;
  border-radius: 6px !important;
  transition: background-color 100ms !important;
}

#bookmarkpropertiesdialog menuitem,
.sidebar-panel menuitem {
  height: var(--sidebar-menupopup-height) !important;
}


menupopup:not(.in-menulist) > menu:not(.menu-iconic),
menupopup:not(.in-menulist, [aria-label]) > menuitem:not(.menuitem-iconic) {
  padding-inline-start: 1em !important;
  background-position: left 1em center;
  background-repeat: no-repeat;
  background-size: 16px;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
}

/* , [type="checkbox"] */
menu:not([type="checkbox"], [type="radio"]) > .menu-iconic-left,
menuitem:not([type="checkbox"], [type="radio"]) > .menu-iconic-left {
  margin-inline: calc(1em - 4px) !important;
}

.subviewbutton:not([checked="true"], [targetURI]) > .toolbarbutton-icon {
  width: 16px;
  height: 16px;
  margin-inline-end: 8px !important;
  -moz-context-properties: fill, fill-opacity;
  fill: currentColor;
}

#appMenu-zoom-controls2 > label,
#fxa-manage-account-button > vbox > label {
  margin-inline-start: 24px !important;
}

.PanelUI-remotetabs-notabsforclient-label {
  margin-inline-start: 40px !important;
}

.widget-overflow-list .toolbarbutton-1:not(.toolbarbutton-combined) > .toolbarbutton-text {
  padding-inline-start: 8px !important;
}

#appMenu-fxa-label2::before,
#fxa-manage-account-button::after {
  content: "";
  display: -moz-box;
  border-radius: 50%;
  background: var(--avatar-image-url) no-repeat center/contain;
  -moz-context-properties: fill;
  fill: currentColor;
}

#appMenu-fxa-label2::before {
  width: 16px;
  height: 16px;
  margin-inline-end: 8px;
}

#fxa-manage-account-button::after {
  width: 32px;
  height: 32px;
}

.syncNowBtn {
  visibility: visible !important;
  -moz-box-ordinal-group: 0 !important;
  margin-inline-end: 8px;
}

menupopup menuitem:hover:not([disabled=true]),
menupopup menu:hover:not([disabled=true]),
.autocomplete-richlistitem:hover:not([disabled=true]):not([selected=true]) {
  background-color: var(--back-color2) !important;
}

menupopup menuitem:hover:active:not([disabled=true]),
menupopup menu:hover:active:not([disabled=true]),
.autocomplete-richlistitem:hover:active:not([disabled=true]),
.autocomplete-richlistitem[selected=true] {
  background-color: var(--back-color3) !important;
}

menupopup menuitem[disabled=true],
menupopup menu[disabled=true],
.autocomplete-richlistitem[disabled=true] {
  opacity: .5 !important;
}

:is(panel, menupopup)::part(content),
.panel-arrowcontainer slot {
  background: var(--back-color2) !important;
  border: 0 !important;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12) !important;
}

:is(panel, menupopup)::part(content),
#PopupAutoComplete slot {
  background: var(--back-color2) !important;
  border: 0 !important;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12) !important;
}

scrollbox[orient=vertical] {
  overflow-y: auto !important;
}

.menupopup-scrollbutton {
  display: none !important;
}

.menu-iconic-left {
  -moz-appearance: none !important;
}

.menu-iconic-left[_moz-menuactive] .menu-iconic-icon {
  background-color: transparent !important;
}

menuitem[type="radio"]:not([checked="true"]) > .menu-iconic-text,
menuitem[type="checkbox"]:not([checked="true"]) > .menu-iconic-text {
  opacity: .5 !important;
}


menuitem[type="radio"][checked="true"] > .menu-iconic-left::before,
menuitem[type="radio"]:not([checked="true"]) > .menu-iconic-left::before,
menuitem[type="checkbox"][checked="true"] > .menu-iconic-left::before,
menuitem[type="checkbox"]:not([checked="true"]) > .menu-iconic-left::before {
  content: '';
  margin: auto;
  display: inline-block;
  width: 16px;
  height: 16px;
}

menuitem[type="radio"][checked="true"] > .menu-iconic-left::before {
  background-image: url(../icons/radio-checked.svg);
}

menuitem[type="radio"]:not([checked="true"]) > .menu-iconic-left::before {
  background-image: url(../icons/radio-unchecked.svg);
}

menuitem[type="checkbox"][checked="true"] > .menu-iconic-left::before {
  background-image: url(../icons/checked.svg);
}

menuitem[type="checkbox"]:not([checked="true"]) > .menu-iconic-left::before {
  background-image: url(../icons/unchecked.svg);
}

.bookmark-item {
  list-style-image: url(../icons/bookmark-default.svg) !important;
}

/* hide icon if no image (default on macOS but not Windows) */
.subviewbutton:not(:-moz-any([image], [targetURI], .bookmark-item)) > .menu-iconic-left {
  display: none;
}

menuitem[type="radio"] .menu-iconic-icon,
menuitem[type="checkbox"] .menu-iconic-icon {
  max-width: 0px !important;
}

.menu-iconic-icon {
  fill: currentColor !important;
  -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
}


menu .menu-text,
menuitem .menu-text {
  -moz-appearance: none !important;
  padding-inline-start: 0em !important;
  margin-inline-start: 0px !important;
}

.menu-right {
  /*    -moz-appearance: none !important;*/
  width: calc(var(--menupopup-height) / 3.5) !important;
  height: calc(var(--menupopup-height) / 3.5) !important;
  -moz-context-properties: fill !important;
  fill: currentColor !important;
  margin-right: 0px !important;
}

.menu-accel-container {
  display: none !important;
}

menubar > menu[open] {
  color: var(--text-color1) !important;
  background-color: var(--back-color2) !important;
  border-radius: 4px !important;
}

#context-navigation {
  background: 0 !important;
  justify-content: space-between !important;
  -moz-box-flex: 1;
  -moz-box-pack: center;
}

#context-navigation > .menuitem-iconic:first-child,
#context-navigation > .menuitem-iconic:last-child {
  width: auto !important;
  -moz-box-pack: center !important;
}

#context-navigation > .menuitem-iconic {
  background: 0 !important;
  border-radius: 100px !important;
  flex: 1 !important;
}

#context-navigation .menu-iconic-icon {
  padding: 0 !important;
  margin: 0 !important;
  width: 16px !important;
  height: 16px !important;
}

#context-navigation .menuitem-iconic:hover:not([disabled]) {
  background-color: var(--back-color2) !important;
}

#context-navigation .menuitem-iconic:hover:active:not([disabled]) {
  background-color: var(--back-color3) !important;
}

/* needs to align with textbox/bookmark-button but can't overlap it */
panel[type="autocomplete-richlistbox"],
.bookmark-item:not(menu) > menupopup[placespopup] {
  padding: 1px 14px 18px !important;
  margin: 0 -14px 0 !important;
}

.popup-internal-box,
panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox,
#PopupSearchAutoComplete > *,
.menupopup-arrowscrollbox {
  background: var(--back-color1) !important;
}

/* themes a menupopup (or other root level / shadow dom popup) as a panel */
/* Mozilla's use of shadow dom means we can't use a menupopup > .popup-internal-box */
.popup-internal-box,
panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox,
.menupopup-arrowscrollbox {
  /*    margin: 8px 0 !important;*/
  padding: 8px 0 !important;
  border-radius: 8px !important;
  color: inherit !important;
  border: 0 !important;
}

.popup-internal-box,
.menupopup-arrowscrollbox {
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12) !important;
}

#PopupSearchAutoComplete > * {
  border-radius: 0 !important;
}

#PopupSearchAutoComplete > :first-child {
  border-radius: 4px 4px 0 0 !important;
}

#PopupSearchAutoComplete > :last-child {
  border-radius: 0 0 4px 4px !important;
}

/* autocomplete panel can't overlap the textbox, so shadow can't go up more than 1px */
panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox {
  margin: -1px -8px !important;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12) !important;
}

/* search panel gets special treatment; it has multiple children */
#PopupSearchAutoComplete > .autocomplete-richlistbox {
  box-shadow: none !important;
}

#PopupSearchAutoComplete {
  filter:
    drop-shadow(0 8px 6px rgba(0, 0, 0, .25)) drop-shadow(0 1px 1px rgba(0, 0, 0, .125)) !important;
}

/* reset non-layout props when embedded in a panel
   (panel handles panel theming in this case) */
.panel-arrowcontent > .popup-internal-box {
  background: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

panel[type="arrow"] {
  -moz-window-shadow: none !important;
  margin: 0 -14px -18px !important;
  padding: 1px 14px 18px !important;
}

panel[type="arrow"][side="top"],
panel[type="arrow"][side="bottom"] {
  margin-left: -39px !important;
  margin-right: -39px !important;
}

panel[type="arrow"][side="left"],
panel[type="arrow"][side="right"] {
  margin-top: -44px !important;
  margin-bottom: -44px !important;
}

.panel-arrowcontent {
  background: var(--back-color1) !important;
  border: 0 !important;
  border-radius: 4px !important;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, .2),
    0 8px 10px 1px rgba(0, 0, 0, .14),
    0 3px 14px 2px rgba(0, 0, 0, .12) !important;
  color: var(--text-color1) !important;
}

.panel-arrowbox,
.cui-widget-panel .panel-arrowbox {
  display: none !important;
}

/* .subview-subheader, */
panelview .toolbarbutton-1,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1,
.panel-banner-item {
  min-height: var(--subview-height) !important;
  padding: 0 4px !important;
}

.subviewbutton.unified-extensions-item-action {
  min-height: var(--subview-height) !important;
  padding: 0 !important;
}

panelview {
  background: var(--back-color1) !important;
}

#editBookmarkPanel > #editBookmarkHeaderSeparator,
#editBookmarkPanel > .panel-subview-body > #editBookmarkSeparator,
panelview > toolbarseparator {
  display: none !important;
}

panelview .toolbarbutton-1:not([disabled], [open], :active):is(:hover, :focus),
toolbarbutton.subviewbutton:not([disabled], [open], :active):is(:hover, :focus),
.navigable.subviewbutton:not([disabled], [open], :active):is(:hover, :focus),
menu.subviewbutton:not([disabled], :active)[_moz-menuactive],
menuitem.subviewbutton:not([disabled], :active)[_moz-menuactive],
.widget-overflow-list .toolbarbutton-1:not([disabled], [open], :active):is(:hover, :focus),
.toolbaritem-combined-buttons:is(:not([cui-areatype="toolbar"]), [overflowedItem="true"]) > toolbarbutton:not([disabled], [open], :active):is(:hover, :focus) {
  background: var(--back-color2) !important;
  color: var(--text-color1) !important;
}

toolbarbutton.subviewbutton.unified-extensions-item-action:not([disabled], [open], :active):is(:hover, :focus) {
  background: transparent !important;
}

findbar toolbarbutton.tabbable:-moz-focusring,
toolbar:not(#PersonalToolbar) .toolbarbutton-1:-moz-focusring > .toolbarbutton-icon,
toolbar:not(#PersonalToolbar) .toolbarbutton-1:-moz-focusring > .toolbarbutton-text,
toolbar:not(#PersonalToolbar) .toolbarbutton-1:-moz-focusring > .toolbarbutton-badge-stack {
  outline-offset: -1px !important;
  /* -3px */
}

#widget-overflow-mainView {
  background: var(--back-color1) !important;
}

.subviewbutton .toolbarbutton-icon,
.panel-banner-item .toolbarbutton-icon {
  margin-inline-end: 0px !important;
  width: 24px !important;
  height: 24px !important;
  padding: 4px !important;
}

.subviewbutton label,
.panel-banner-item label {
  padding-inline-start: 0 !important;
}

#appMenu-zoom-controls > .subviewbutton,
#appMenu-edit-controls > .subviewbutton {
  min-width: 32px !important;
  border-radius: 16px !important;
  padding: 0 8px !important;
  border: 0 !important;
  margin-inline-start: 4px !important;
}

#appMenu-zoom-controls > toolbarseparator[orient="vertical"] + .subviewbutton {
  margin-inline-start: 0 !important;
}

#appMenu-zoom-controls > .subviewbutton-iconic,
#appMenu-edit-controls > .subviewbutton-iconic {
  padding: 0 !important;
}

.panel-banner-item {
  border: 0 !important;
}

#appMenu-addon-banners:not(:empty) ~ #appMenu-fxa-status,
.panel-banner-item:not([hidden]) + #appMenu-fxa-status {
  border-top: 1px solid var(--panel-separator-color) !important;
  margin-top: 5px !important;
  padding-top: 5px !important;
}

#appMenu-fxa-avatar {
  display: none !important;
}

#appMenu-popup panelview,
#PanelUI-fxa {
  width: 19em !important;
}

:root[fxastatus="signedin"] #appMenu-fxa-label {
  list-style-image: var(--avatar-image-url) !important;
  margin: 0 !important;
}

:root[fxastatus="signedin"] #appMenu-fxa-label > .toolbarbutton-icon {
  display: -moz-box !important;
  border-radius: 100px !important;
  padding: 2px !important;
}

.panel-banner-item[notificationid="update-restart"]::after {
  display: none !important;
}

.toolbaritem-combined-buttons:-moz-any(:not([cui-areatype="toolbar"]),
  [overflowedItem="true"]) > toolbarbutton > .toolbarbutton-icon {
  margin: 0 !important;
}

panelmultiview .toolbaritem-combined-buttons > spacer.before-label {
  width: 20px !important;
}

panelmultiview .toolbaritem-combined-buttons > spacer.after-label {
  width: 14px !important;
}

.subviewbutton[type="highlight-history"]::after {
  transform: none !important;
}

.subviewbutton[type="highlight-history"]::after,
.subviewbutton[shortcut]::after,
.PanelUI-subView .subviewbutton-nav::after {
  margin-inline-start: 14px !important;
}

.subviewbutton .toolbarbutton-text {
  margin-inline: 0px !important
}

.subviewbutton .toolbarbutton-icon {
  display: none !important;
}

.subviewbutton-back {
  padding: 4px !important;
  border-radius: 16px !important;
}

.subviewbutton-back .toolbarbutton-icon {
  margin: 0 !important;
  display: block !important;
}

.PanelUI-subView .subviewbutton-nav::after {
  transform: none !important;
  fill-opacity: 1 !important;
}

#identity-popup > .panel-arrowcontainer > .panel-arrowcontent {
  fill-opacity: inherit !important;
}

.identity-popup-preferences-button {
  border-radius: 16px !important;
  background-image: none !important;
}

.identity-popup-preferences-button > .toolbarbutton-icon {
  margin: 0 !important;
}

#identity-popup-permission-preferences-button {
  padding: 0 !important;
}

#tracking-protection-preferences-button > .toolbarbutton-icon {
  margin-inline-end: -8px !important;
}

#tracking-protection-preferences-button > .toolbarbutton-text {
  padding-inline-end: 4px !important;
  -moz-box-ordinal-group: 0 !important;
}

.identity-popup-section {
  padding: 16px !important;
  display: flex !important;
}

.identity-popup-security-content,
#identity-popup-content-blocking-content,
#identity-popup-permissions-content {
  padding: 0 !important;
  background: 0 !important;
  fill-opacity: inherit !important;
}

.identity-popup-expander {
  border-radius: 16px !important;
  width: 32px !important;
  max-height: 32px !important;
  margin-inline-start: auto !important;
  -moz-box-pack: center !important;
  -moz-box-align: center !important;
  background-image: none !important;
}

.identity-popup-expander > .button-box {
  border: 0 !important;
  display: flex !important;
  justify-content: center !important;
}

.identity-popup-expander .button-icon,
.identity-popup-headline {
  margin: 0 !important;
}

.identity-popup-expander .button-text {
  display: none !important;
}

.PanelUI-subView > .identity-popup-security-content,
#identity-popup-securityView-body,
#identity-popup-mainView-panel-header {
  padding: 16px !important;
}

#identity-popup-securityView-body {
  margin: 0 !important;
}

#identity-popup-content-blocking-content,
#identity-popup-permissions-content {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}

#identity-popup-content-blocking-content > hbox:first-child,
#identity-popup-permissions-content > hbox:first-child {
  display: flex !important;
}

#identity-popup-content-blocking-category-list,
#identity-popup-permission-list {
  display: flex !important;
  flex-direction: column !important;
  margin: 0 -16px !important;
  width: calc(100% + 32px) !important;
  padding-top: 8px !important;
}

.identity-popup-permission-item {
  display: flex !important;
  align-items: center !important;
}

.identity-popup-permission-label,
#identity-popup-content-blocking-report-breakage {
  flex: 1 !important;
  text-decoration: none !important;
  cursor: auto !important;
  color: inherit !important;
}

.identity-popup-content-blocking-category,
.identity-popup-permission-item {
  height: 32px !important;
  padding: 0 16px !important;
}

.identity-popup-content-blocking-category-icon,
.identity-popup-permission-icon {
  margin: 0 !important;
  margin-inline-end: 16px !important;
}

.popup-notification-icon,
.identity-popup-permission-icon {
  fill-opacity: 1 !important;
}

.popup-notification-panel > popupnotification:not([hidden]) {
  background: var(--back-color1) !important;
}

.identity-popup-content-blocking-category-label,
.identity-popup-permission-label {
  margin: 0 !important;
}

.identity-popup-content-blocking-category::after {
  transform: translateY(1px) !important;
  margin: 0 !important;
}

.identity-popup-preferences-button {
  margin-inline-start: auto !important;
}

.identity-popup-permission-remove-button {
  opacity: 1 !important;
}

.tracking-protection-button,
#identity-popup-content-blocking-report-breakage {
  margin: 0 -16px !important;
  height: 32px !important;
  padding: 0 16px !important;
  background: 0 !important;
  color: inherit !important;
  line-height: 32px !important;
}

#identity-popup-content-blocking-report-breakage {
  padding-inline-start: 50px !important;
}

.tracking-protection-button > .button-box {
  padding: 0 !important;
}

.tracking-protection-button .button-icon {
  margin: 0 !important;
}

/* Removes extra line after tracking protection container */
#tracking-protection-icon-container,
#identity-box {
  border: none !important;
}

#customization-lwtheme-menu-header {
  display: none !important;
}

.tracking-protection-button:hover:not([disabled=true]),
#identity-popup-content-blocking-report-breakage:hover,
#blocked-popup-indicator-item:hover,
.customization-lwtheme-menu-theme:hover,
#customization-lwtheme-menu-footer toolbarbutton:hover {
  background-color: var(--back-color2) !important;
}

.tracking-protection-button:hover:active:not([disabled=true]),
#identity-popup-content-blocking-report-breakage:hover:active,
#blocked-popup-indicator-item:hover:active,
.customization-lwtheme-menu-theme:hover:active,
#customization-lwtheme-menu-footer toolbarbutton:hover:active {
  background-color: var(--back-color3) !important;
}

.identity-popup-content-blocking-empty-label,
#tracking-protection-preferences-button > .toolbarbutton-text,
.tracking-protection-button,
#identity-popup-trackersView-strict-info > label,
.identity-popup-cookiesView-list-header,
.identity-popup-content-blocking-list-item > label,
#identity-popup-mainView-panel-header > label,
#identity-popup-trackersView > .panel-header,
#identity-popup-securityView > .panel-header,
#identity-popup-breakageReportView > .panel-header,
#identity-popup-content-blocking-report-breakage,
.identity-popup-content-blocking-category-label,
.identity-popup-content-blocking-category-state-label,
.identity-popup-permission-label,
.identity-popup-permission-state-label,
#identity-popup-security-descriptions > description,
#identity-popup-securityView-body > description,
#identity-popup-permissions-content > description,
#identity-popup-content-blocking-content > description {
  font-size: 100% !important;
}

.panel-header > label {
  text-align: start !important;
  margin-inline-start: 4px !important;
}

.identity-popup-headline {
  font-size: 110% !important;
}

.identity-popup-security-content > description,
#identity-popup-content-blocking-content > description,
#identity-popup-permissions-content > description,
.identity-popup-content-blocking-category-state-label,
.identity-popup-permission-state-label {
  font-size: 85% !important;
}

#identity-popup-permissions-content > description,
#identity-popup-content-blocking-content > description {
  color: inherit !important;
  opacity: .6 !important;
}

.identity-popup-content-blocking-category-state-label {
  transform: translateY(1px) !important;
}

.tracking-protection-button > .button-box,
.panel-footer button > .button-box {
  display: flex !important;
  align-items: center !important;
}

.tracking-protection-button .button-icon,
.panel-footer button .button-icon {
  padding-inline-end: 16px !important;
}

.tracking-protection-button .button-text,
.panel-footer button .button-text {
  margin: 0 !important;
}

#protections-popup-main-header-label {
  color: var(--text-color1) !important;
}

#downloadsPanel-multiView {
  padding-top: 8px !important;
}

#downloadsListBox .download-state {
  display: flex !important;
  width: 100% !important;
  align-items: center !important;
}

#downloadsListBox .downloadMainArea {
  padding: 0 !important;
  display: flex !important;
  flex: 1 !important;
  margin-inline-end: -48px !important;
  padding-inline-end: 48px !important;
  padding-inline-start: 16px !important;
  height: 100% !important;
  align-items: center !important;
}

#downloadsListBox .downloadContainer {
  display: flex !important;
  flex-direction: column !important;
  flex: 1 !important;
}

#downloadsListBox .downloadTypeIcon {
  margin: 0 !important;
  margin-inline-end: 16px !important;
}

#downloadsListBox .downloadTarget {
  font-size: 100% !important;
}

#downloadsListBox .downloadDetails {
  font-size: 85% !important;
}

#downloadsListBox > richlistitem > toolbarseparator {
  display: none !important;
}

#downloadsListBox .downloadButton {
  margin-inline-end: 16px !important;
  height: 32px !important;
  min-width: 32px !important;
  border-radius: 16px !important;
  fill: currentColor !important;
  -moz-context-properties: fill, fill-opacity !important;
  display: block !important;
}

#downloadsListBox .downloadButton .button-box {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  max-width: 32px !important;
}

/* Customize page */

button .customizationmode-button {
  background-color: var(--back-color1) !important;
}

button .customizationmode-button:hover,
button .customizationmode-button:hover:active {
  background-color: var(--gtk-color) !important;
}

#confirmation-hint .panel-arrowcontent,
#UITourTooltip .panel-arrowcontent,
#customization-lwtheme-menu .panel-arrowcontent,
#customization-uidensity-menu .panel-arrowcontent {
  padding: 16px !important;
}

#customization-uidensity-menu .panel-arrowcontent,
#customization-lwtheme-menu .panel-arrowcontent {
  padding-top: 8px !important;
}

.customization-lwtheme-menu-theme,
.customization-uidensity-menuitem {
  padding: 0 16px !important;
  margin: 0 -16px !important;
  border: 0 !important;
  height: 48px !important;
}

.customization-lwtheme-menu-theme .toolbarbutton-icon,
.customization-uidensity-menuitem .menu-iconic-icon {
  margin: 0 !important;
  margin-inline-end: 16px !important;
  padding: 0 !important;
  width: 24px !important;
  height: 24px !important;
}

.customization-lwtheme-menu-theme[active]:not(:hover):not(:active),
.customization-uidensity-menuitem[active]:not(:hover):not(:active) {
  background: 0 !important;
}

.customization-lwtheme-menu-theme[active]::after,
.customization-uidensity-menuitem[active]::after {
  -moz-context-properties: fill, fill-opacity !important;
  fill: currentColor !important;
  display: -moz-box !important;
  width: 18px !important;
  height: 18px !important;
  margin-inline-start: 16px !important;
}

#customization-lwtheme-menu-footer {
  padding: 0 !important;
  background: 0 !important;
  border: 0 !important;
  display: flex !important;
  flex-direction: column !important;
}

#customization-lwtheme-menu-footer toolbarbutton {
  border: 0 !important;
  margin: 0 -6px 0 !important;
  height: 48px !important;
  padding: 0 16px !important;
  display: flex !important;
  background-image: none !important;
}

#customization-lwtheme-menu-footer toolbarbutton .toolbarbutton-text {
  text-align: start !important;
}

#customization-content-container,
#customization-footer {
  background: var(--back-color1) !important;
}

.panel-footer {
  padding: 4px !important;
  background: var(--back-color1) !important;
  border-top: 1px solid var(--panel-separator-color) !important;
  justify-content: end !important;
  display: flex !important;
}

.panel-footer button {
  border: 0 !important;
  border-radius: 4px !important;
  margin: 4px !important;
  height: 32px !important;
  padding: 0 !important;
  flex: 0 0 auto !important;
  position: relative !important;
  outline: 0 !important;
}

.panel-footer button > .button-box {
  -moz-appearance: none !important;
  position: relative !important;
  padding-inline-end: 16px !important;
}

.panel-footer button .button-menu-dropmarker {
  margin-inline-start: 8px !important;
  margin-inline-end: -8px !important;
}

.panel-footer button:not([default]) > .button-box::before {
  content: "" !important;
  display: block !important;
  border-radius: 4px !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border: 1px solid currentColor !important;
  opacity: .42 !important;
  box-sizing: border-box !important;
}

.panel-footer button:not([default]):hover:active:not([disabled]) > .button-box::before {
  border-width: 0 !important;
}

.panel-footer button:not([default]):hover:active:not([disabled]) {
  border-width: 0 !important;
  background: #002275 !important;
  color: #FFF !important;
}

#PopupAutoComplete > richlistbox > richlistitem[originaltype="loginWithOrigin"] {
  height: 48px !important;
}

#PopupAutoComplete > richlistbox > richlistitem[originaltype="loginsFooter"] {
  visibility: collapse !important;
}

richlistitem[originaltype="loginsFooter"],
richlistitem[originaltype="generatedPassword"] > .two-line-wrapper {
  display: flex !important;
  align-items: center !important;
}

richlistitem:-moz-any([originaltype="generatedPassword"],
  [originaltype="loginWithOrigin"],
  [originaltype="login"],
  [originaltype="loginsFooter"]) .ac-site-icon {
  display: block !important;
  align-self: center !important;
  margin-inline: 0 16px !important;
  fill: currentColor !important;
}

richlistitem[originaltype="loginsFooter"] .ac-site-icon {
  visibility: hidden !important;
}

richlistitem:-moz-any([originaltype="generatedPassword"],
  [originaltype="loginWithOrigin"],
  [originaltype="login"],
  [originaltype="loginsFooter"]) .ac-title {
  margin: 0 !important;
}

#confirmation-hint-message-container,
#confirmation-hint-checkmark-animation-container {
  margin-block: 8px !important;
  margin-inline: 8px !important;
}

#confirmation-hint-checkmark-animation-container {
  margin-inline-end: 0 !important;
}


search-textbox#search-box {
  appearance: none !important;
  background-color: var(--back-color2) !important;
  border: 1px solid var(--blue-color) !Important;
  color: var(--text-color1) !important;
  padding: 6px !important;
  border-radius: var(--tab-radius) !important;
}

image.textbox-search-sign {
  display: none !important;
}

search-textbox .tabsFilter:focus-within,
#search-box:focus-within {
  border: 2px solid var(--blue-color) !Important;
}


/* Browser popups */
dialog#commonDialog #dialogGrid .titleIcon {
  background-color: transparent !important;
}
