#navigator-toolbox {
  position: relative;
  line-height: 0;
  /*    max-height: var(--tab-min-height) !important;*/
  z-index: 2;
  pointer-events: none;
  background: var(--back-color1) !important;
  width: 100vw;
}


#navigator-toolbox:hover,
#navigator-toolbox:focus-within {
  transition-delay: 33ms !important;
  transform: rotateX(0) !important;
  opacity: 1 !important;
}

#navigator-toolbox > * {
  line-height: normal;
  pointer-events: auto;
}


/* Hide buttons */
:root:not([customizing]) #nav-bar .customization-target > :not(#urlbar-container) {
  width: 0px !important;
  min-width: 0px !important;
  opacity: 0 !important;
  transition: all 200ms !important;
}

/* Show on hover or focus */
:root:not([customizing]) #nav-bar:hover .customization-target > :not(#urlbar-container) {
  min-width: 28px !important;
  opacity: 1 !important;
  transition: all 200ms !important;
}

:root:not([customizing]) #nav-bar:hover .customization-target > #nav-bar-toolbarbutton-slider-container {
  width: auto !important;
}

/* Move tabs 32% to right */
#TabsToolbar {
  min-height: var(--tab-min-height) !important;
  max-height: var(--tab-min-height) !important;
  margin-left: var(--navbar-percent) !important;
  min-width: var(--toolbar-percent) !important;
}

/* Move navigation 68% to left and negative margin to move to top line */
#nav-bar {
  max-height: var(--tab-min-height) !important;
  min-height: var(--tab-min-height) !important;
  margin-right: var(--toolbar-percent) !important;
  margin-top: var(--navbar-margin-top) !important;
  width: var(--navbar-percent) !important;
  background: var(--back-color1) !important;
}

#toolbar-menubar {
  z-index: 1 !important;
  position: relative !important;
  background: var(--back-color1) !important;
}

#toolbar-menubar[autohide="true"]:not([inactive="true"]) {
  height: var(--tab-min-height) !important;
}
