.tabbrowser-tab {
    height: var(--tab-min-height) !important;
}

/* Disables Tab-line and label*/
.tabbrowser-tab .tab-line, .tab-secondary-label {
    display: none !important;
}

/* No highlighting tabs on hover*/
.tab-content:hover {
    background: var(--back-color1) !important;
}

/* Fix for hover on selected tab */
.tabbrowser-tab[visuallyselected] .tab-content:hover {
  background: transparent !important;
  border-radius: 6px 6px 0 0 !important;
}

#TabsToolbar-customization-target > #tabbrowser-tabs[positionpinnedtabs] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[pinned] {
    margin-inline-start: 0 !important;
    position: absolute !important;
    display: revert !important;
}
#tabbrowser-tabs[haspinnedtabs] {
    padding-inline-start: 0 !important;
}

#tabbrowser-arrowscrollbox[scrolledtostart="true"]::part(scrollbutton-up),
#tabbrowser-arrowscrollbox[scrolledtoend="true"]::part(scrollbutton-down) {
    display: none !important;
}

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: 0 !important;
}

/* Fix tab background height */
.tab-background {
    margin-block: 0 !important;
}
.tab-background, .tab-stack {
    background: transparent !important;
    min-height: 0 !important;
}

/* Transparent background on selected tab */
.tabbrowser-tab[visuallyselected] .tab-background {
    background: transparent !important;
    position: relative !important;
    visibility: visible !important;
}
#TabsToolbar:not([brighttext]) #tabbrowser-tabs:not([noshadowfortests]) .tabbrowser-tab:is([visuallyselected="true"], [multiselected]) > .tab-stack > .tab-background {
    box-shadow: none !important;
}

/* different background on multiselectrd tabs */
.tabbrowser-tab[multiselected]:not([selected]) .tab-content {
    background: var(--back-color2) !important;
}

.tabbrowser-tab[visuallyselected] {
    border: 2px solid var(--blue-color) !important;
    /* Border top radius*/
    border-radius: var(--tab-radius) var(--tab-radius) 0 0 !important;
    border-bottom: 2px solid var(--back-color1) !important;
}

/* Border bottom radius */
.tabbrowser-tab[visuallyselected] .tab-background::before,
.tabbrowser-tab[visuallyselected] .tab-background::after {
    content: '' !important;
    display: block !important;
    position: absolute !important;
    width: var(--tab-radius) !important;
    height: var(--tab-radius) !important;
    bottom: -2px !important;
    pointer-events: none !important;
    border-bottom: 2px solid var(--blue-color) !important;
}

.tabbrowser-tab[visuallyselected] .tab-background::before {
    border-bottom-right-radius: var(--tab-radius) !important;
    left: 0 !important;
    transform: translateX(calc(-4px - var(--tab-radius))) !important;
    border-right: 2px solid var(--blue-color) !important;
    box-shadow: 4px 4px 0 4px var(--back-color1) !important;
}

.tabbrowser-tab[visuallyselected] .tab-background::after {
    border-bottom-left-radius: var(--tab-radius) !important;
    right: 0 !important;
    transform: translateX(calc(4px + var(--tab-radius))) !important;
    border-left: 2px solid var(--blue-color) !important;
    box-shadow: -4px 4px 0 4px var(--back-color1) !important;
}

/* Moving First and last tab in
.tabbrowser-tab[first-visible-tab] {
  margin-left: var(--tab-radius) !important;
} */

.tabbrowser-tab[last-visible-tab] {
  margin-right: var(--tab-radius) !important;
}

/* The Blue line in the top bar*/
#main-window:not([sizemode="maximized"]) #navigator-toolbox:before {
    content: "";
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgb(0,3,1),rgb(0, 140, 255),rgb(0,120,215),rgb(0,120,215),rgb(0,120,215),rgb(0,140,215), rgb(0,3,1));
    background-size: 100% 2px !important;
    background-repeat: no-repeat !important;
    background-position: left bottom !important;
/*    clip:rect(27px,2600px,29px,0px);*/
}

#navigator-toolbox:after {
    content: "";
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgb(0,3,1),rgb(0, 140, 255),rgb(0,120,215),rgb(0,120,215),rgb(0,120,215),rgb(0,140,215), rgb(0,3,1));
    background-size: 100% 2px !important;
    background-repeat: no-repeat !important;
    background-position: left bottom !important;
/*    clip:rect(27px,2600px,29px,0px);*/
}

#navigator-toolbox {
    border-bottom: 0px !important;
}

/* Glowing tab favicon */
.tab-icon-image[selected="true"] {
    filter: drop-shadow(0 0 5px var(--text-color1))
}

/* Make hovered tab icon, tab label normal */
.tabbrowser-tab:not(:hover):not([selected]) .tab-icon-image, .tabbrowser-tab:not(:hover):not([selected]) .tab-label {
    filter: brightness(0.5) !important;
}

/* Close Button, Mute/Sound Button show on Hover */
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button, .tabbrowser-tab:not([pinned]):not(:hover) .tab-icon-sound {
    visibility: collapse !important;
}

/* Remove Tab Seperatorb */
.tabbrowser-tab::before, .tabbrowser-tab::after {
    display: none !important;
}

/* Pending Tab Italic Style */
.tabbrowser-tab[pending] {
    font-style: italic !important;
}

/* Tab Close button*/
.tab-close-button {
    width: 20px !important;
    height: 20px !important;
    padding: 4px !important;
}

.tab-icon-pending:not([pinned]) {
    list-style-image: url("../icons/tab-loading.png") !important;
}

.tab-throbber:not([pinned]) {
    list-style-image: url("../icons/tab-loading.png") !important;
}

#TabsToolbar #BMB_bookmarksPopup {
    margin-top: -7px !important;
}

#tabs-newtab-button, #TabsToolbar #new-tab-button {
    padding: 0 !important;
}

#tabs-newtab-button > .toolbarbutton-icon, #TabsToolbar #new-tab-button > .toolbarbutton-icon {
    width: 16px !important;
    height: 16px !important;
    padding: 0px !important;
}
