:root {
    --dark_color1: #11131c;
    --dark_color2: #1d202f;
    --dark_color3: #1f2334;
    --dark_color4: #272c41;

    --word_color1: #e4e4e4;
    --word_color2: #cacaca;
    --word_color3: #c2c2c2;

    --light_color1: #f0f0f0;
    --light_color2: #c7c7c7;
    --light_color3: #9d9d9d;
    --light_color4: #8c8c8c;

    --other_color1: #332e56;
    --other_color2: #4b4757;
    --other_color3: #33313c;

    --blue_color: #0078d7;

    --gtk_color: #d700d2;

}
/*================ LIGHT THEME ================*/

:root:not([style]),
:root[style*="--lwt-accent-color:rgb(227, 228, 230);"],
:root[style*="--lwt-accent-color:rgb(240, 240, 244);"],
:root[style*="--lwt-accent-color:white;"] {
    --base_color1: var(--light_color1);
    --base_color2: var(--light_color2);
    --base_color3: var(--light_color3);
    --base_color4: var(--light_color4);

    --outer_color1: var(--other_color1);
    --outer_color2: var(--other_color2);
    --outer_color3: var(--other_color3);

    --orbit_color: var(--blue_color);
}
/*================ DARK THEME ================*/

:root[style*="--lwt-accent-color:rgb(28, 27, 34);"],
:root[style*="--lwt-accent-color:rgb(12, 12, 13);"],
:root[privatebrowsingmode=temporary] {
    --base_color1: var(--dark_color1);
    --base_color2: var(--dark_color2);
    --base_color3: var(--dark_color3);
    --base_color4: var(--dark_color4);

    --outer_color1: var(--word_color1);
    --outer_color2: var(--word_color2);
    --outer_color3: var(--word_color3);

    --orbit_color: var(--blue_color);
}






@-moz-document url-prefix(https://discovery.addons.mozilla.org),
url-prefix(chrome://),
url-prefix(about:),
url-prefix(file:),
url(https://www.mozilla.org/credits/),
url-prefix(https://addons.mozilla.org),
url-prefix(http://addons.mozilla.org),
url-prefix(https://raw.githubusercontent.com),
url-prefix(moz-extension),
url-prefix(view-source) {
    :root {
        --in-content-page-background: var(--dark_color1) !important;
        --button-hover-color: var(--dark_color1) !important;
    }
}







/* ============= ADDON PAGE ============= */

#header-inner {
    margin: 2px 0px -40px 4px !important;
}
#heading {
    margin: 1px 0px 1px -4px !important;
}
#main {
    margin-top: 5px;
}
.addon-name {
    font-weight: 400 !important;
}
.addon.card {
    margin-bottom: 5px !important; min-width: 1000px !important;
}
.card-contents{
    flex-direction: row !important;
    display: block !important;
}
.list-section-heading {
    margin-bottom: 9px !important;
}
.more-options-button {
    top: 8px;
}
.prefs-button, .addon-description, .addon-badge, .help-button, #search-label, #category-discover, #heading-name, .list-section-heading, recommended-extensions-section {
    display:none;
}
.sidebar-footer-button {
    margin-bottom: 36px;
}






/* ============= Error Pages ============= */

.netTimeout #errorPageContainer {
    background-image: url("icons/sonic.gif") !important;
}

.neterror #errorPageContainer {
    background-image: url("icons/sonic.gif") !important;
}

@-moz-document url-prefix("about:restartrequired") {
    #errorPageContainer {
		background-position: left top;
		background-size: 28% !important;
        background-image: url("icons/fox-transparent.gif") !important;
	}

}







/*================== READER VIEW ==================*/

@-moz-document url-prefix("about:reader") {
    html {
        background: var(--base_color1);
    }
    toolbar > reader-toolbar {
        border-radius: 3px !important;
    }

    /*Dark*/
    body.loaded.dark {
        --toolbar-bgcolor: var(--dark_color2) !important;
        --toolbar-border: var(--dark_color1) !important;
        --toolbar-hover: var(--dark_color3) !important;
        --popup-bgcolor: var(--dark_color2) !important;
        --popup-border: var(--dark_color3) !important;
        --font-color: var(--word_color3) !important;
        --icon-fill: var(--word_color3) !important;
        background: var(--dark_color1) !important;
        --blue-40:var(--word_color1) !important;
        --blue-40-a30:rgba(144,89,255,0.3) !important;
        --active-color:var(--word_color1) !important;
    }

    /*Light*/
    body.loaded.light {
        --toolbar-bgcolor: var(--light_color2) !important;
        --toolbar-border: var(--light_color1) !important;
        --toolbar-hover: var(--light_color3) !important;
        --popup-bgcolor: var(--light_color2) !important;
        --popup-border: var(--light_color3) !important;
        --font-color: var(--other_color3) !important;
        --icon-fill: var(--other_color3) !important;
        background: var(--light_color1) !important;
        --blue-40:var(--other_color1) !important;
        --blue-40-a30:rgba(51,46,86,0.3) !important;
        --active-color:var(--other_color1) !important;
    }

}






/* =============== Scrollbar =============== */

:root {
    --addon-icon-size: 26px !important; --card-padding: 14px !important;
    scrollbar-color: rgb(29,33,38) rgba(0,0,0,0);
    scrollbar-width: thin;
}






/* =============== Customize Developer Tools =============== */

@-moz-document url("chrome://devtools/content/styleeditor/index.xhtml") {
    .splitview-nav .unsaved {
        background: linear-gradient( to right, #f0a 4px, #f0a4 4px, transparent ) !important;
    }
    .splitview-nav .unsaved.splitview-active {
        background: linear-gradient( to right, #f0a 4px, #f0a4 4px) !important;
    }
    /* Auto-Highlight common user style filenames */
    .splitview-nav label[value="userChrome.css"],
    .splitview-nav label[value="userContent.css"],
    .splitview-nav label[value$=".uc.css"] {
        color: #f0a !important;
    }
}

@-moz-document url("https://www.qwiklabs.com/public_profiles/8ce32532-ca12-4a89-aed0-99c9316cae73") {
    .container img {
        height: 180px !important;
        width: 180px !important;
    }
    .container .title {
        width: 250px;
        text-align: center;
    }
}






/* =============== Hide text in built-in print screen =============== */
@-moz-document url-prefix("moz-extension://08b76965-6643-443a-9219-b05054b0b4c7/blank.html"){
    .preview-instructions, .face-container, .cancel-shot {
        display: none !important;
    }
}






/* =============== Login page changes =============== */
@-moz-document url-prefix("about:logins") {
    .login-list-item {
        background-color: var(--dark_color1) !important;
    }
}





/* =============== PDF theming =============== */

@-moz-document regexp(".*\\.(p|P)(d|D)(f|F).*") {
    :root {
        --toolbar-bg-color: var(--dark_color1) !important;
        --body-bg-color: var(--dark_color1) !important;
        --sidebar-bg-color: var(--dark_color1) !important;
        --button-hover-color: var(--dark_color1) !important;
        --field-bg-color: var(--dark_color1) !important;
    }

    .canvasWrapper > canvas {
        filter: invert(1) !important;
    }

    .dropdownToolbarButton > select {
        background-color: var(--dark_color2) !important;
    }

    .dropdownToolbarButton > select:hover {
        background-color: var(--dark_color1) !important;
    }
}

