/* :::::::::::::::::::: RESPONSIVE NAVBAR :::::::::::::::::::: */
/* Hide buttons **/
:root:not([customizing]) #nav-bar toolbarbutton {
    margin-left: -30px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transition: all 200ms !important;
}
/* Show on hover or focus */
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton,
:root:not([customizing]) :hover > #titlebar #TabsToolbar toolbarbutton{
    margin-left: 0 !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}
/* Move tabs 35% to right */
#TabsToolbar {
	margin-left: 35vw !important;
}
/* Move navigation 65% to left and negative margin to move to top line */
#nav-bar {
	max-height: 28px !important;
	margin-right: 65vw !important;
	margin-top: -28px !important;
	background: transparent !important;
	z-index: 1;
}
#navigator-toolbox {
	background: #010101 !important;
}





/* :::::::::::::::::::: POPUPS :::::::::::::::::::: */
menupopup, panel[type="autocomplete-richlistbox"] {
	-moz-appearance: none !important;
	background: #0c0c0d !important;
	border: 0 !important;
	border-radius: 8px !important;
	color: #FAFAFA !important;
	position: relative !important;
}
.popup-internal-box, .panel-arrowcontent, .autocomplete-richlistbox, #PopupSearchAutoComplete {
	background: #0c0c0d !important;
	border-radius: 8px !important;
	padding: 8px 0 !important;
	margin: 0 !important;
}
.PanelUI-subView {
	background: #0c0c0d !important;
}
menu,
menuitem,
.autocomplete-richlistitem,
.popup-internal-box > .scrollbutton-up,
.popup-internal-box > .scrollbutton-down {
	background: 0 !important;
	-moz-appearance: none !important;
	color: inherit !important;
}
richlistbox,
.ac-title {
	color: inherit !important;
}
menu,
menuitem,
.autocomplete-richlistitem {
	padding: 0 24px 0 !important;
	min-height: 28px !important;
	border: 0 !important;
}
/* hover */
menu:not([disabled=true]):not([open]):hover,
menuitem:not([disabled=true]):not([_moz-menuactive]):hover,
.autocomplete-richlistitem:not([disabled=true]):not([selected]):hover {
	background-color: var(--arrowpanel-dimmed) !important;
}
/* selected/open */
menu[open],
.autocomplete-richlistitem[selected],
menuitem[_moz-menuactive] {
	background-color: var(--autocomplete-popup-highlight-background) !important;
	color: var(--autocomplete-popup-highlight-color) !important;
}
menu[disabled=true],
menuitem[disabled=true],
.autocomplete-richlistitem[disabled=true] {
	opacity: .5 !important;
}
menuseparator {
	-moz-appearance: none !important;
	background: currentColor !important;
	opacity: .1 !important;
	border: 0 !important;
	padding: 0 !important;
	height: 1px !important;
	margin: 5px 0 !important;
}
.menu-iconic-icon,
.menu-right,
.ac-site-icon,
.ac-type-icon {
	fill: currentColor !important;
	-moz-context-properties: fill, stroke, fill-opacity, stroke-opacity !important;
}
.menu-iconic-icon,
.ac-type-icon,
.ac-site-icon {
	margin-inline-start: 0 !important;
	margin-inline-end: 8px !important;
}
#context-navigation {
	padding: 0 8px 3px !important;
	background: 0 !important;
}
#context-navigation > .menuitem-iconic {
	padding: 0 !important;
	border-radius: 99px !important;
}
#context-navigation .menu-iconic-icon {
	margin: 0 !important;
}
/* unset fill-opacity for menus nested in buttons */
.bookmark-item > menupopup {
	fill-opacity: initial !important;
}
.search-panel-tree {
	background: 0 !important;
	border-radius: 0 !important;
	box-shadow: 0 !important;
	padding: 0 !important;
}
.search-panel-current-engine,
#searchbar-anon-search-settings,
.addengine-item {
	padding: 0 24px 0 !important;
	min-height: 28px !important;
	border-radius: 0 !important;
	border: 0 !important;
	font-size: inherit !important;
	text-align: start !important;
}
.search-panel-current-engine {
	-moz-box-ordinal-group: 0 !important;
}
/* a sneaky separator */
#PopupSearchAutoComplete::before {
	-moz-box-ordinal-group: 1 !important;
}
.searchbar-engine-image {
	margin-inline-end: 2px !important;
}
.search-panel-one-offs,
#searchbar-anon-search-settings {
	border: 0 !important;
}
/* Separators */
#PopupSearchAutoComplete::before,
.search-panel-one-offs::before,
.search-panel-one-offs::after {
	content: "" !important;
	display: -moz-box !important;
	height: 1px !important;
	width: 100% !important;
	background: currentColor !important;
	opacity: .1 !important;
	margin: 4px 0 !important;
}
.searchbar-engine-one-off-item {
	border: 0 !important;
	background: 0 !important;
}
.searchbar-engine-one-off-item .button-box {
	border-radius: 99px !important;
	margin: 2px 0 !important;
}
.searchbar-engine-one-off-item:first-of-type .button-box,
.searchbar-engine-one-off-item.last-of-row + .searchbar-engine-one-off-item .button-box {
	margin-inline-start: 4px !important;
}
.searchbar-engine-one-off-item.last-of-row .button-box {
	margin-inline-end: 4px !important;
}
/* unfortunately these don't support focus */
.searchbar-engine-one-off-item:hover .button-box,
#searchbar-anon-search-settings:hover,
.search-panel-current-engine:hover,
.addengine-item:hover {
	background-color: var(--autocomplete-popup-highlight-background) !important;
}
.search-panel-tree .ac-type-icon[type="null"],
.search-panel-one-offs-header,
.panel-arrowbox,
.searchbar-engine-one-off-item.dummy {
	display: none !important;
}
.search-add-engines {
	background: 0 !important;
}
/* windows-specific tweaks */
@media (-moz-windows-compositor)
{
	menupopup
	{
		padding: 6px 12px 24px !important;
		margin: -6px -12px -24px !important;
	}
	.popup-internal-box
	{
		box-shadow:
			0 0 6px rgba(0, 0, 0, .08),
			0 12px 12px rgba(0, 0, 0, .125) !important;
	}
	panel[type="arrow"]
	{
		/* must pad because overflow: visible doesn't work */
		padding: 3px 3px 7px !important;
	}
	.panel-arrowcontent
	{
		border: 0 !important;
		box-shadow:
			0 0 3px rgba(0, 0, 0, .17),
			0 4px 3px rgba(0, 0, 0, .1) !important;
	}
	.menu-text
	{
		margin-inline-start: -1.45em !important;
	}
}
#appMenu-popup {
  margin-right: -258px !important;
}
#appMenu-popup .panel-arrow {
  margin-right: 248px !important;
}





/* :::::::::::::::::::: LIBRARY MENU :::::::::::::::::::: */
/* These change top bar background color */
#placesToolbar {
	background-color: #333 !important;
	color: #ddd !important}
/* These change the lists background color */
#placesView, #placesView .scrollbox-innerbox,
#infoPane, #placesList, #placeContent, 
/* This one changes the urlbar star bookmarking folder tree backgrund color */
#editBMPanel_folderTree {
	-moz-appearance: none !important; 
	background: #050505 !important; 
	color: #ddd !important}
/* These change the list header background and text colors */
#placeContent treecol {
	-moz-appearance: none !important; 
	background: #444 !important;
	padding: 0px !important;
	color: #ddd !important;
	border-left: 1px solid #333 !important;
	border-bottom: 1px solid #333 !important}
#placeContent treecol:hover {
	-moz-appearance: none !important; 
	background: rgba(255,255,255, 0.15) !important;
	color: #FAFAFA !important}
/* This changes the right border on the left list panel */
#placesView > splitter {border-inline-end: 0px solid #333 !important}
/* These change the odd rows of the lists */
#placeContent tree {background-color: #050505 !important}
#placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-row(odd) {
	background-color: #050505 !important}
#placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover) {
	background-color: #181818 !important}
#placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected) {
	background-color: #45a1ff !important}
#placeContent treechildren::-moz-tree-cell {border-right: 0px dotted rgba(0,0,0,0.4) !important}
#placeContent > splitter {border: 0px solid red !important}
/* This changes the forward and back buttons opacity when disabled */
#placesToolbar > toolbarbutton[disabled] > .toolbarbutton-icon {
	opacity: .25 !important}
/* This changes the forward and back buttons color */
#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {fill: #aaa !important; opacity: 1 !important}
/* This deletes the leftover border when clicking one of the top buttons */
#placesMenu > menu {border: none !important}
/* This changes the text color of the "clear downloads" button */
#clearDownloadsButton {color: #aaa !important}
#clearDownloadsButton[disabled] {color: #555 !important}
/* This themes the search box */
#searchFilter {
	transition: all 0.25s ease-in-out !important;
	-moz-appearance: none !important; 
	border: 1px solid #666 !important;
	background-color: #444 !important;
	color: #aaa !important}
/* This themes the search box on hover */
#searchFilter[focused="true"] {
	box-shadow: var(--input-field-focus-shadow) !important;
	background-color: #555 !important;
	color: #FAFAFA !important} 
/* This themes the information box on the lower part of the library menu */
#detailsDeck {
	background-color: #181818 !important; 
	color: #aaa !important;
	border-top: 2px solid #222 !important}
/* This changes the text boxes inside the library bottom information box */
#infoBox textbox, #infoBox listbox, 
/* This changes the text boxes on the popup when bookmarking a page from the url box */
#editBMPanel_namePicker, #editBMPanel_tagsField,
#editBMPanel_tagsSelector {
	transition: all 0.25s ease-in-out !important;
	-moz-appearance: none !important; 
	border: 0px !important;
	background-color: #1c1c1d !important;
	color: #ddd !important}
/* A fix for bookmark preferences... so that some boxes won't appear brighter than others */
#bookmarkproperties #editBMPanel_namePicker, 
#bookmarkproperties #editBMPanel_tagsField,
#bookmarkproperties #editBMPanel_tagsSelector {
	background-color: #1c1c1d !important}
/* This changes the same text boxes on hover */
#infoBox textbox[focused="true"], #infoBox listbox[focused="true"],
/* This changes the same url bookmarking popup text boxes on hover */
#editBMPanel_namePicker[focused="true"], #editBMPanel_tagsField[focused="true"],
#infoBox #bookmarkproperties #editBMPanel_namePicker[focused="true"],
#infoBox #bookmarkproperties #editBMPanel_tagsField[focused="true"] {
	box-shadow: var(--Input-field-focus-shadow) !important;
	background-color: #2c2c2d !important;
	color: #FAFAFA !important}
/* This changes the buttons inside the bookmarking popup at the url star */
#editBMPanel_newFolderButton, #editBookmarkPanelDoneButton, 
#editBookmarkPanelRemoveButton, #tracking-action-unblock-private, 
#identity-popup-popup-menulist, #tracking-action-block, #tracking-action-unblock {
    -moz-appearance: none !important;
	border-radius: 8px !important;
	background: #1c1c1d !important;
	border: 0px !important;
	color: #ddd !important;
	padding: 0.3em !important;
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important}
#editBMPanel_newFolderButton:hover,#editBookmarkPanelDoneButton:hover, 
#editBookmarkPanelRemoveButton:hover, #tracking-action-unblock-private:hover, 
#identity-popup-popup-menulist:hover, #tracking-action-block:hover, 
#tracking-action-unblock:hover { 
	background: #333 !important;
	color: #FAFAFA !important}
#editBookmarkPanelBottomButtons {
	background: transparent !important;}
/* These change the expander buttons on the library and bookmarking popup */
#editBMPanel_folderMenuList, #editBMPanel_tagsSelectorExpander,
#editBMPanel_foldersExpander, #detailsDeck button {
	-moz-appearance: none !important;
	border: 3px solid #1c1c1d !important;
	background: #1c1c1d !important;
	color: #FAFAFA !important}
#editBMPanel_folderMenuList:hover, #editBMPanel_tagsSelectorExpander:hover, 
#editBMPanel_foldersExpander:hover, #detailsDeck button:hover {
	background: #2c2c2d !important;
	color: #FAFAFA !important}
#editBMPanel_folderMenuList {padding: 1px !important; color: #ddd !important}
/* These change the downloads history list background */
#downloadsRichListBox {background: #050505 !important; color: #ddd !important} 
#statuspanel-label {
	-moz-appearance: none !important;
	background: transparent !important;
	color: #eee !important;
	border: 0px solid #333 !important;
}
panel #editBMPanel, .panel-arrow, .panel-arrowcontent {
	background-color: #0c0c0d !important;
}





/* :::::::::::::::::::: NAVIGATION/URL BAR :::::::::::::::::::: */
#urlbar[breakout][breakout-extend]:not([open]) {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}
#urlbar[breakout][breakout-extend]:not([open]) > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
}
#urlbar-container {
	margin-top: -1px !important;
}
/* More tools... button */
#nav-bar-overflow-button {
    transform: scale(0.9, 0.9) !important;
}
.urlbarView {
	position: absolute !important;
	width: 55vw !important;
}
#urlbar.megabar {
	max-height: 28px !important;
}
#urlbar-input-container, .urlbarView:not(.megabar){
	background: #010101 !important;
}
/* Fix padding around URL bar */
#urlbar-container, #search-container {
	padding: 0 !important;
	min-width: 50px !important;
}
.urlbar-history-dropmarker,
#urlbar-go-button{
	display: none !important;
}
#searchbar {
	background: #0c0c0d !important;
	color: #fff !important;
}
#urlbar-background,
#urlbar {
	border: none !important;
}
/* Move hamburger menu to the left 
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 0 !important;
} */

/* Make Back, Forward, Stop, Go disappear when not in use */
#back-button[disabled="true"] { display: none; }
#back-button { list-style-image: url("chrome://browser/skin/back.svg") !important; 
transform: scale(0.9) !important;}
#forward-button[disabled="true"] { display: none; }
#forward-button { list-style-image: url("chrome://browser/skin/forward.svg") !important; 
transform: scale(0.9) !important;}
#reload-button { list-style-image: url("chrome://browser/skin/panel-icon-retry.svg") !important; }
#stop-button[disabled="true"] { display: none; }
#stop-button { list-style-image: url("chrome://browser/skin/panel-icon-cancel.svg") !important; }
#go-button-stack, .search-go-button-stack { display: none !important; }
#home-button {transform: scale(0.9) !important;}

/* Make hover background of above transparent */
.toolbarbutton-icon, toolbar toolbarbutton > .toolbarbutton-badge-stack, toolbarbutton #PanelUI-menu-button:hover {
	background: transparent !important;
}
#urlbar-background {
	background: #0c0c0d !important;
}

/* Hide various elements */
/* Menu */
#appMenu-fxa-container,
#appMenu-fxa-container+toolbarseparator,
#appMenuRestoreLastSession,
#appMenu-zoom-controls,
#appMenu-zoom-controls+toolbarseparator,
#appMenu-edit-controls,
#appMenu-edit-controls+toolbarseparator,
#appMenu-library-button,
#appMenu-customize-button,
#appMenu-customize-button+toolbarseparator,
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-find-button,
#appMenu-more-button,
/* URL Bar */
#pageActionButton,
#pocket-button-box,
#ar-button,
.autocomplete-history-dropmarker,
#identity-icon-label
{
    display: none !important;
}
/* Identity Icons BG Dark */
#identity-popup-securityView,
#identity-popup-security-content,
.identity-popup-section,
#identity-popup-securityView-footer,
#identity-popup-mainView-panel-header,
#protections-popup-mainView-panel-header,
#identity-box,
#protections-popup-siteNotWorkingView-footer,
#tracking-protection-icon-container,
panelview {
	background-color: transparent !important;
}
/* Make Sidebar Dark */
#protections-popup-mainView, #protections-popup-footer, #sidebar, #sidebar-header, #bookmarksPanel, #bookmarks-view, #history-panel, #historyTree, #sidebar-switcher-target, #viewButton, .panel-footer > button{
	background-color: #0c0c0d !important;
}
.panel-footer > button:hover {
	background: #1c1c1d !important;
}





/* :::::::::::::::::::: TAB BAR :::::::::::::::::::: */
.tabbrowser-tab {
  height: 28px !important; 
}
#TabsToolbar .tabbrowser-tab[selected] .tab-line {display: none !important; }
.tabbrowser-tab[visuallyselected] .tab-background {
	background: transparent !important;
}
.tabbrowser-tab[visuallyselected] {
	border: 2px solid #0078d7 !important;
	border-radius: 4px 4px 0 0 !important;
	border-bottom: 2px solid #000 !important;
}

/* The Blue line in the top bar*/
#main-window:not([sizemode="maximized"]) #navigator-toolbox:after {
    content: "";
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgb(0,3,1),rgb(0, 140, 255),rgb(0,120,215),rgb(0,120,215),rgb(0,120,215),rgb(0,140,215), rgb(0,3,1));
    clip:rect(24px,2600px,26px,0px);
    position: absolute !important;
}
#navigator-toolbox:after {
    content: "";
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgb(0,3,1),rgb(0, 140, 255),rgb(0,120,215),rgb(0,120,215),rgb(0,120,215),rgb(0,140,215), rgb(0,3,1));
    clip:rect(31px,2600px,33px,0px);
    position: absolute !important;
}
#navigator-toolbox {
    border-bottom: 0px !important;
}

/* Makes the favicon grayscale */
tab:not([selected="true"]) .tab-icon, .tab-icon-image:not([selected="true"]) {
	filter: brightness(0.5) !important;;
}
/*make hovered tab icon normal color*/
.tabbrowser-tab:hover:not([selected]) .tab-icon-image {
	filter: none !important;
	opacity: 1 !important;
}

/* Not Selected Tab Label Darker */
.tab-label:not([selected]) {
	color: rgba(250, 250, 250, 0.5) !important;
}
/* Make Hovered Tab Normal */
.tabbrowser-tab:hover:not([selected]) .tab-label {
	color: rgba(250, 250, 250, 1) !important;
}

/* Close Button on Hover */
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button {
	visibility: collapse !important;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
	visibility: visible !important;
}

/* Remove Tab Seperatorb */
.tabbrowser-tab::before, 
.tabbrowser-tab::after{
	display: none !important;
}
/* Pending Tab Italic Style */
.tabbrowser-tab[pending] {
	font-style: italic !important;
}



/* :::::::::::::::::::: TWEAKS :::::::::::::::::::: */
/* Remove Extra Spacing at Start & End */
.titlebar-spacer[type="pre-tabs"]{
    display: none !important;
}
/* Removes scroll button in exess tabs */
.scrollbutton-up, .scrollbutton-down {
	display: none !important;
}
/* Removes all-tab-button in exess tabs */
#alltabs-button {
	display: none !important;
}
/* Change cursor for links that open in new tab/window */
:link[target="_blank"], :visited[target="_blank"],
:link[target="_new"], :visited[target="_new"] {
    cursor: crosshair;
}
/* Add a keyword when adding a bookmark */
#keywordRow {
    display: -moz-grid-line !important;
}
#PopupAutoComplete > richlistbox > richlistitem[originaltype="loginsFooter"] {
    visibility: collapse !important;
}
/*flash of white when loading new pages. */
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html {
	background: #000 !important; 
	background-color: #000 !important; 
	color: #000 !important;
}
/* Glowing tab favicon */
.tab-icon-image[selected="true"] {
	filter: drop-shadow(0 0 5px #FAFAFA)
}
/* Hide Scrollbar from Sidebar */
.hidevscroll-scrollbar {
	display: none !important;
}
/* Identity icon Modif */
#identity-icon {
	list-style-image:url("welcome-back.svg")!important;
}
#identity-icon-labels {
	display: none !important;
}
/* Tracking protection icon Modif */
#tracking-protection-icon-container {
	fill-opacity: 0.65 !important;
	fill: #0078d7 !important;
	display: none !important;
}
/* Windows control hover transparent */
.titlebar-max:hover, .titlebar-min:hover, .titlebar-close:hover {
	background-color: rgba(250, 250, 250, 0) !important;
}
/*Toolbars color  */
#TabsToolbar/*, #nav-bar, #toolbar-menubar, #tabbrowser-tabs, #browser-panel*/ {
	background-color:#010101 !important;
}
/* Remove setting from url dropdown */
.search-panel-one-offs {
	display: none !important;
}
/* Removes extra line after tracking protection container */
#tracking-protection-icon-container, #identity-box {
    border: none !important;
}
/* Removes Save Page and Send Pange from context menu */
#context-savepage, #context-sendpagetodevice, #context-sep-sendpagetodevice, #context-sep-navigation {
	display:none !important;
}
/* Findbar at bottom Modif */
.findbar {
	background: #0c0c0d !important;
}
.findbar-textbox, .findbar-find-next, .findbar-find-previous {
    border: none !important;
}
.findbar-button:hover {
	background: #1c1c1d !important;
}
/* Windows control modifs */
.titlebar-min {
    list-style-image: url("chrome://browser/skin/window-controls/minimize-highcontrast.svg") !important;
}
.titlebar-max {
    list-style-image: url("chrome://browser/skin/window-controls/maximize-highcontrast.svg") !important;
}
:root[sizemode="maximized"] .titlebar-max {
    list-style-image: url("chrome://browser/skin/window-controls/restore-highcontrast.svg") !important;
}
.titlebar-close {
    list-style-image: url("chrome://browser/skin/window-controls/close-highcontrast.svg") !important;
}
.titlebar-button {
    padding: 8px 13px !important;
}
/* Disable What's New and Exit from Hamburger */
#appMenu-whatsnew-button,#appMenu-quit-button{
    display: none !important;
}