/*================ IMPORT COLORS ================*/
@import "userColors.css";

@-moz-document url-prefix(https://discovery.addons.mozilla.org),
url-prefix(chrome://),
url-prefix(about:),
url-prefix(file:),
url(https://www.mozilla.org/credits/),
url-prefix(https://addons.mozilla.org),
url-prefix(http://addons.mozilla.org),
url-prefix(https://raw.githubusercontent.com),
url-prefix(moz-extension),
url-prefix(view-source),
regexp(".*\\.(p|P)(d|D)(f|F).*") {
    :root {
        --accent-1: #11131c;
        --accent-2: #b1b1b1;
        --in-content-page-background: var(--accent-1) !important;
    }
}


/* @-moz-document url-prefix("about:"), url-prefix(https://addons.mozilla.org) {
    html {
        background-color: #11131c !important;
    }
    .sticky-container {
        background: #11131c !important;
    }
} */
/* @-moz-document url(about:about) {
    html {
    background: var(--light_color1) !important;
    color: var(--other_color1) !important;
  }
    html:not([lwt-newtab-brighttext]) {
    background: var(--dark_color1) !important;
    color: var(--word_color1) !important;
  }
}
@-moz-document url-prefix(about:webrtc) {
    html {
        background-color: var(--base_color1) !important;
        color: var(--outer_color1) !important;
    }
    #content > div,
    .peer-connection > h3 {
        background-color: var(--base_color1) !important;
        border: 0px !important;
    }
} */


/*================== READER VIEW ==================*/
@-moz-document url-prefix("about:reader") {
	html {
		background: var(--base_color1);
	}
	toolbar > reader-toolbar {
		border-radius: 3px !important;
	}

    /*Dark*/
    body.loaded.dark {
        --toolbar-bgcolor: var(--dark_color2) !important;
        --toolbar-border: var(--dark_color1) !important;
        --toolbar-hover: var(--dark_color3) !important;
        --popup-bgcolor: var(--dark_color2) !important;
        --popup-border: var(--dark_color3) !important;
        --font-color: var(--word_color3) !important;
        --icon-fill: var(--word_color3) !important;
        background: var(--dark_color1) !important;
        --blue-40:var(--word_color1) !important;
        --blue-40-a30:rgba(144,89,255,0.3) !important;
        --active-color:var(--word_color1) !important;
    }

    /*Light*/
    body.loaded.light {
        --toolbar-bgcolor: var(--light_color2) !important;
        --toolbar-border: var(--light_color1) !important;
        --toolbar-hover: var(--light_color3) !important;
        --popup-bgcolor: var(--light_color2) !important;
        --popup-border: var(--light_color3) !important;
        --font-color: var(--other_color3) !important;
        --icon-fill: var(--other_color3) !important;
        background: var(--light_color1) !important;
        --blue-40:var(--other_color1) !important;
        --blue-40-a30:rgba(51,46,86,0.3) !important;
        --active-color:var(--other_color1) !important;
    }

}

/* ============= ADDON PAGE ============= */
#header-inner {
    margin: 2px 0px -40px 4px !important;
}
#heading {
    margin: 1px 0px 1px -4px !important;
}
#main {
    margin-top: 5px;
}
.addon-name {
    font-weight: 400 !important;
}
.addon.card {
    margin-bottom: 5px !important; min-width: 1000px !important;
}
.card-contents{
    flex-direction: row !important;
    display: block !important;
}
.list-section-heading {
    margin-bottom: 9px !important;
}
.more-options-button {
    top: 8px;
}
.prefs-button, .addon-description, .addon-badge, .help-button, #search-label, #category-discover, #heading-name, .list-section-heading, recommended-extensions-section {
    display:none;
}
.sidebar-footer-button {
    margin-bottom: 36px;
}

:root {
    --addon-icon-size: 26px !important; --card-padding: 14px !important;
	scrollbar-face-color: rgb(29,33,38);
	scrollbar-track-color: rgb(0,0,0);
	scrollbar-color: rgb(29,33,38) rgb(0,0,0);
	scrollbar-width: thin;
}

@-moz-document url("chrome://devtools/content/styleeditor/index.xhtml") {
    .splitview-nav .unsaved {
        background: linear-gradient( to right, #f0a 4px, #f0a4 4px, transparent ) !important;
    }
    .splitview-nav .unsaved.splitview-active {
        background: linear-gradient( to right, #f0a 4px, #f0a4 4px) !important;
    }
    /* Auto-Highlight common user style filenames */
    .splitview-nav label[value="userChrome.css"],
    .splitview-nav label[value="userContent.css"],
    .splitview-nav label[value$=".uc.css"] {
        color: #f0a !important;
    }
}