/* ================ IMPORT COLORS ================ */

@import "userContent.css";






/* ============== RESPONSIVE NAVBAR ============== */

/* Hide buttons **/
:root:not([customizing]) #nav-bar toolbarbutton {
    margin-left: -30px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transition: all 200ms !important;
}

/* Show on hover or focus */
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton,
:root:not([customizing]) :hover > #titlebar #TabsToolbar toolbarbutton{
    margin-left: 0 !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

/* Move tabs 35% to right */
#TabsToolbar {
    margin-left: 32vw !important;
}

/* Move navigation 65% to left and negative margin to move to top line */
#nav-bar {
    max-height: 28px !important;
    margin-right: 68vw !important;
    margin-top: -28px !important;
    background: transparent !important;
    z-index: 1;
}

#navigator-toolbox {
    background: var(--base_color1) !important;
}






/* =================== POPUPS =================== */

menupopup,
menupopup menuitem,
menupopup menu,
menupopup menuseparator {
    -moz-appearance: none !important;
}

menupopup,
panel[type="autocomplete-richlistbox"] {
    -moz-window-shadow: none !important;
    background: 0 !important;
    border: 0 !important;
    color: var(--outer_color1) !important;
    box-sizing: content-box !important;
    max-width: 275px !important;
}

menupopup {
    padding: 11px 14px 18px !important;
    margin: -19px -14px 0 !important;
}

/* needs to align with textbox/bookmark-button but can't overlap it */
panel[type="autocomplete-richlistbox"],
.bookmark-item:not(menu) > menupopup[placespopup] {
    padding: 1px 14px 18px !important;
    margin: 0 -14px 0 !important;
}

.panel-arrowcontent {
    background: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    font: -moz-pull-down-menu !important;
    border: 0 !important;
}

.popup-internal-box,
panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox,
#PopupSearchAutoComplete > *,
.menupopup-arrowscrollbox {
    background: var(--base_color1) !important;
}

/* themes a menupopup (or other root level / shadow dom popup) as a panel */
/* Mozilla's use of shadow dom means we can't use a menupopup > .popup-internal-box */
.popup-internal-box,
panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox,
.menupopup-arrowscrollbox {
    margin: 0 !important;
    padding: 8px 0 !important;
    border-radius: 4px !important;
    color: inherit !important;
}

.popup-internal-box,
.menupopup-arrowscrollbox {
    box-shadow:
        0 5px 5px -3px rgba(0,0,0,.2),
        0 8px 10px 1px rgba(0,0,0,.14),
        0 3px 14px 2px rgba(0,0,0,.12) !important;
}

#PopupSearchAutoComplete > * {
    border-radius: 0 !important;
}

#PopupSearchAutoComplete > :first-child {
    border-radius: 4px 4px 0 0 !important;
}

#PopupSearchAutoComplete > :last-child {
    border-radius: 0 0 4px 4px !important;
}

/* autocomplete panel can't overlap the textbox, so shadow can't go up
   more than 1px */
panel[type="autocomplete-richlistbox"] > .autocomplete-richlistbox {
    box-shadow:
        0 0 0 1px rgba(0, 0, 0, .03),
        0 5px 5px -3px rgba(0, 0, 0, .2),
        0 8px 10px -0px rgba(0, 0, 0, .14),
        0 3px 14px -5px rgba(0, 0, 0, .12) !important;
}

/* search panel gets special treatment; it has multiple children */
#PopupSearchAutoComplete > .autocomplete-richlistbox {
    box-shadow: none !important;
}

#PopupSearchAutoComplete {
    filter:
        drop-shadow(0 8px 6px rgba(0, 0, 0, .25))
        drop-shadow(0 1px 1px rgba(0, 0, 0, .125)) !important;
}

/* reset non-layout props when embedded in a panel
   (panel handles panel theming in this case) */
.panel-arrowcontent > .popup-internal-box {
    background: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

/* shotgun approach to undo this selector...
   #BMB_bookmarksPopup menupopup[placespopup="true"]:-moz-lwtheme::part(innerbox)
   ...without being able to use ::part() in userChrome.css */
[part="innerbox"] {
    /* this could cause side effects elsewhere */
    box-shadow: none !important;
    margin: 0 !important;
}

menupopup menuseparator {
    margin: 8px 0 !important;
    padding: 0 !important;
    height: 1px !important;
    background: currentColor !important;
    opacity: .12 !important;
}

menupopup menuitem,
menupopup menu,
.autocomplete-richlistitem {
    height: 32px !important;
    padding: 0 16px !important;
    border: 0 !important;
    background: 0 !important;
    color: inherit !important;
    fill-opacity: initial !important;
}

menupopup menuitem:hover:not([disabled=true]),
menupopup menu:hover:not([disabled=true]),
.autocomplete-richlistitem:hover:not([disabled=true]):not([selected=true]) {
    background-color: var(--base_color2) !important;
}

menupopup menuitem:hover:active:not([disabled=true]),
menupopup menu:hover:active:not([disabled=true]),
.autocomplete-richlistitem:hover:active:not([disabled=true]),
.autocomplete-richlistitem[selected=true] {
    background-color: var(--base_color3) !important;
}

menupopup menuitem[disabled=true],
menupopup menu[disabled=true],
.autocomplete-richlistitem[disabled=true] {
    opacity: .5 !important;
}

/* disable vertical menu scroll buttons and use a good ol' scrollbar */
/* this is a shotgun approach, expect side effects */
scrollbox[orient=vertical] /* >=71 */ {
    overflow-y: auto !important;
}

/* why still use scroll buttons; is this the middle ages? */
.menupopup-scrollbutton {
    display: none !important;
}

.menu-iconic-left {
    -moz-appearance: none !important;
}

/* hide icon if no image (default on macOS but not Windows) */
.subviewbutton:not(:-moz-any([image], [targetURI], .bookmark-item)) > .menu-iconic-left {
    display: none;
}

.menu-iconic-icon {
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity, stroke, stroke-opacity !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 16px !important;
    width: 24px !important;
    height: 24px !important;
    padding: 4px !important;
}

.menu-text {
    -moz-appearance: none !important;
    padding: 0 !important;
}

.menu-right {
    -moz-appearance: none !important;
    -moz-context-properties: fill !important;
    fill: currentColor !important;
    list-style-image: url(menu-right-2x.svg) !important;
    margin-inline-end: 0 !important;
    margin-inline-start: 16px !important;
}

menuitem[type="checkbox"] > .menu-iconic-left > .menu-iconic-icon,
menuitem[checked="true"] > .menu-iconic-left > .menu-iconic-icon,
menuitem[type="radio"] > .menu-iconic-left > .menu-iconic-icon {
    display: -moz-box !important;
    padding: 3px !important;
}

menuitem[checked="true"] > .menu-iconic-left > .menu-iconic-icon {
    /* checkmark is 18px, not 16px, hence reduced padding */
    list-style-image: url(checkmark-18dp.svg) !important;
}

#context-navigation {
    background: 0 !important;
}

#context-navigation .menuitem-iconic {
    background: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

#context-navigation .menu-iconic-left {
    border-radius: 50% !important;
    padding: 8px !important;
}

#context-navigation .menu-iconic-icon {
    padding: 0 !important;
    margin: 0 !important;
    width: 16px !important;
    height: 16px !important;
}

#context-navigation .menuitem-iconic:hover:not([disabled]) .menu-iconic-left {
    background-color: var(--base_color2) !important;
}

#context-navigation .menuitem-iconic:hover:active:not([disabled]) .menu-iconic-left {
    background-color: var(--base_color3) !important;
}

panel[type="arrow"] {
    -moz-window-shadow: none !important;
    margin: 0 -14px -18px !important;    
    padding: 0 14px 18px !important;
}

panel[type="arrow"][side="top"],
panel[type="arrow"][side="bottom"] {
    margin-left: -39px !important;
    margin-right: -39px !important;
}

panel[type="arrow"][side="left"],
panel[type="arrow"][side="right"] {
    margin-top: -44px;
    margin-bottom: -44px;
}

.panel-arrowcontent {
    background: var(--base_color1) !important;
    border: 0 !important;
    border-radius: 4px !important;
    box-shadow:
        0 5px 5px -3px rgba(0, 0, 0, .2),
        0 8px 10px 1px rgba(0, 0, 0, .14),
        0 3px 14px 2px rgba(0, 0, 0, .12) !important;
    color: var(--outer_color1) !important;
}

.panel-arrowbox,
.cui-widget-panel .panel-arrowbox {
    display: none !important;
}

/* .subview-subheader, */
panelview .toolbarbutton-1,
.subviewbutton,
.widget-overflow-list .toolbarbutton-1,
.panel-banner-item {
    min-height: 32px !important;
    padding: 0 16px !important;
}

.subviewbutton .toolbarbutton-icon,
.panel-banner-item .toolbarbutton-icon {
    margin-inline-end: 16px !important;
    width: 24px !important;
    height: 24px !important;
    padding: 4px !important;
}

.subviewbutton label,
.panel-banner-item label {
    padding-inline-start: 0 !important;
}

#appMenu-zoom-controls > .subviewbutton,
#appMenu-edit-controls > .subviewbutton {
    min-width: 32px !important;
    border-radius: 16px !important;
    padding: 0 8px !important;
    border: 0 !important;
    margin-inline-start: 4px !important;
}

#appMenu-zoom-controls > toolbarseparator[orient="vertical"] + .subviewbutton {
    margin-inline-start: 0 !important;
}

#appMenu-zoom-controls > .subviewbutton-iconic,
#appMenu-edit-controls > .subviewbutton-iconic {
    padding: 0 !important;
}

.panel-banner-item {
    border: 0 !important;
}

#appMenu-addon-banners:not(:empty) ~ #appMenu-fxa-status,
.panel-banner-item:not([hidden]) + #appMenu-fxa-status {
    border-top: 1px solid var(--panel-separator-color) !important;
    margin-top: 5px !important;
    padding-top: 5px !important;
}

#appMenu-fxa-avatar {
    display: none !important;
}

:root[fxastatus="signedin"] #appMenu-fxa-label {
    list-style-image: var(--avatar-image-url) !important;
    margin: 0 !important;
}

:root[fxastatus="signedin"] #appMenu-fxa-label > .toolbarbutton-icon {
    display: -moz-box !important;
    border-radius: 99px !important;
    padding: 2px !important;
}

.panel-banner-item[notificationid="update-restart"]::after {
    display: none !important;
}

.toolbaritem-combined-buttons:-moz-any(:not([cui-areatype="toolbar"]),
[overflowedItem="true"]) > toolbarbutton > .toolbarbutton-icon {
    margin: 0 !important;
}

panelmultiview .toolbaritem-combined-buttons > spacer.before-label {
    width: 20px !important;
}

panelmultiview .toolbaritem-combined-buttons > spacer.after-label {
    width: 14px !important;
}

.subviewbutton-back {
    padding: 4px !important;
    border-radius: 16px !important;
}

.subviewbutton-back .toolbarbutton-icon {
    margin: 0 !important;
}

.subviewbutton[type="highlight-history"]::after {
    transform: none !important;
}

.subviewbutton[type="highlight-history"]::after,
.subviewbutton[shortcut]::after,
.PanelUI-subView .subviewbutton-nav::after {
    margin-inline-start: 14px !important;
}

.PanelUI-subView .subviewbutton-nav::after {
    transform: none !important;
    content: url(menu-right-1x.svg) !important;
    fill-opacity: 1 !important;
}

#identity-popup > .panel-arrowcontainer > .panel-arrowcontent {
    fill-opacity: inherit !important;
}

.identity-popup-preferences-button {
    border-radius: 16px !important;
    background-image: none !important;
}

.identity-popup-preferences-button > .toolbarbutton-icon {
    margin: 0 !important;
}

#identity-popup-permission-preferences-button {
    padding: 0 !important;
}

#tracking-protection-preferences-button > .toolbarbutton-icon {
    margin-inline-end: -8px !important;
}

#tracking-protection-preferences-button > .toolbarbutton-text {
    padding-inline-end: 4px !important;
    -moz-box-ordinal-group: 0 !important; 
}

.identity-popup-section {
    padding: 16px !important;
    display: flex !important;
}

.identity-popup-security-content,
#identity-popup-content-blocking-content,
#identity-popup-permissions-content {
    padding: 0 !important;
    background: 0 !important;
    fill-opacity: inherit !important;
}

.identity-popup-expander {
    border-radius: 16px !important;
    width: 32px !important;
    max-height: 32px !important;
    margin-inline-start: auto !important;
    -moz-box-pack: center !important;
    -moz-box-align: center !important;
    background-image: none !important;
}

.identity-popup-expander > .button-box {
    border: 0 !important;
    display: flex !important;
    justify-content: center !important;
}

.identity-popup-expander .button-icon {
    margin: 0 !important;
}

.identity-popup-expander .button-text {
    display: none !important;
}

.identity-popup-headline {
    margin: 0 !important;
}

.PanelUI-subView > .identity-popup-security-content,
#identity-popup-securityView-body {
    padding: 16px !important;
}

#identity-popup-mainView-panel-header {
    -moz-box-align: start !important;
    padding: 16px !important;
}

#identity-popup-securityView-body {
    margin: 0 !important;
}

#identity-popup-content-blocking-content,
#identity-popup-permissions-content {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
}

#identity-popup-content-blocking-content > hbox:first-child,
#identity-popup-permissions-content > hbox:first-child {
    display: flex !important;
}

#identity-popup-content-blocking-category-list,
#identity-popup-permission-list {
    display: flex !important;
    flex-direction: column !important;
    margin: 0 -16px !important;
    width: calc(100% + 32px) !important;
    padding-top: 8px !important;
}

.identity-popup-permission-item {
    display: flex !important;
    align-items: center !important;
}

.identity-popup-permission-label,
#identity-popup-content-blocking-report-breakage {
    flex: 1 !important;
    text-decoration: none !important;
    cursor: auto !important;
    color: inherit !important;
}

.identity-popup-content-blocking-category,
.identity-popup-permission-item {
    height: 32px !important;
    padding: 0 16px !important;
}

.identity-popup-content-blocking-category-icon,
.identity-popup-permission-icon {
    margin: 0 !important;
    margin-inline-end: 16px !important;
}

.popup-notification-icon,
.identity-popup-permission-icon {
    fill-opacity: 1 !important;
}

.identity-popup-content-blocking-category-label,
.identity-popup-permission-label {
    margin: 0 !important;
}

.identity-popup-content-blocking-category::after {
    transform: translateY(1px) !important;
    content: url(menu-right-1x.svg) !important;
    margin: 0 !important;
}

.identity-popup-preferences-button {
    margin-inline-start: auto !important;
}

.identity-popup-permission-remove-button {
    opacity: 1 !important;
}

.tracking-protection-button,
#identity-popup-content-blocking-report-breakage {
    margin: 0 -16px !important;
    height: 32px !important;
    padding: 0 16px !important;
    background: 0 !important;
    color: inherit !important;
    line-height: 32px !important;
}

#identity-popup-content-blocking-report-breakage {
    padding-inline-start: 50px !important;
}

.tracking-protection-button > .button-box {
    padding: 0 !important;
}

.tracking-protection-button .button-icon {
    margin: 0 !important;
}

#customization-lwtheme-menu-header {
    display: none !important;
}

/* #identity-popup-content-blocking-report-breakage, {
    padding-inline-start: 48px !important;
    line-height: 32px !important;
    text-decoration: none !important;
    cursor: auto !important;
} */

.tracking-protection-button:hover:not([disabled=true]),
#identity-popup-content-blocking-report-breakage:hover,
#blocked-popup-indicator-item:hover,
.customization-lwtheme-menu-theme:hover,
#customization-lwtheme-menu-footer toolbarbutton:hover {
    background-color: var(--base_color2) !important;
}

.tracking-protection-button:hover:active:not([disabled=true]),
#identity-popup-content-blocking-report-breakage:hover:active,
#blocked-popup-indicator-item:hover:active,
.customization-lwtheme-menu-theme:hover:active,
#customization-lwtheme-menu-footer toolbarbutton:hover:active {
    background-color: var(--base_color3) !important;
}

.identity-popup-content-blocking-empty-label,
#tracking-protection-preferences-button > .toolbarbutton-text,
.tracking-protection-button,
#identity-popup-trackersView-strict-info > label,
.identity-popup-cookiesView-list-header,
.identity-popup-content-blocking-list-item > label,
#identity-popup-mainView-panel-header > label,
#identity-popup-trackersView > .panel-header,
#identity-popup-securityView > .panel-header,
#identity-popup-breakageReportView > .panel-header,
#identity-popup-content-blocking-report-breakage,
.identity-popup-content-blocking-category-label,
.identity-popup-content-blocking-category-state-label,
.identity-popup-permission-label,
.identity-popup-permission-state-label,
#identity-popup-security-descriptions > description,
#identity-popup-securityView-body > description,
#identity-popup-permissions-content > description,
#identity-popup-content-blocking-content > description {
    font-size: 100% !important;
}

.panel-header > label {
    text-align: start !important;
    margin-inline-start: 4px !important;
}

.identity-popup-headline {
    font-size: 110% !important;
}

.identity-popup-security-content > description,
#identity-popup-content-blocking-content > description,
#identity-popup-permissions-content > description,
.identity-popup-content-blocking-category-state-label,
.identity-popup-permission-state-label {
    font-size: 85% !important;
}

#identity-popup-permissions-content > description,
#identity-popup-content-blocking-content > description {
    color: inherit !important;
    opacity: .6 !important;
}

.identity-popup-content-blocking-category-state-label {
    transform: translateY(1px) !important;
}

.tracking-protection-button > .button-box,
.panel-footer button > .button-box {
    display: flex !important;
    align-items: center !important;
}

.tracking-protection-button .button-icon,
.panel-footer button .button-icon {
    padding-inline-end: 16px !important;
}

.tracking-protection-button .button-text,
.panel-footer button .button-text {
    margin: 0 !important;
}

#downloadsPanel-multiView {
    padding-top: 8px !important;
}

#downloadsListBox .download-state {
    display: flex !important;
    width: 100% !important;
    align-items: center !important;
}

#downloadsListBox .downloadMainArea {
    padding: 0 !important;
    display: flex !important;
    flex: 1 !important;
    margin-inline-end: -48px !important;
    padding-inline-end: 48px !important;
    padding-inline-start: 16px !important;
    height: 100% !important;
    align-items: center !important;
}

#downloadsListBox .downloadContainer {
    display: flex !important;
    flex-direction: column !important;
    flex: 1 !important;
}

#downloadsListBox .downloadTypeIcon {
    margin: 0 !important;
    margin-inline-end: 16px !important;
}

#downloadsListBox .downloadTarget {
    font-size: 100% !important;
}

#downloadsListBox .downloadDetails {
    font-size: 85% !important;
}

#downloadsListBox > richlistitem > toolbarseparator {
    display: none !important;
}

#downloadsListBox .downloadButton {
    margin-inline-end: 16px !important;
    height: 32px !important;
    min-width: 32px !important;
    border-radius: 16px !important;
    fill: currentColor !important;
    -moz-context-properties: fill, fill-opacity !important;
    display: block !important;
}

#downloadsListBox .downloadButton .button-box {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    max-width: 32px !important;
}

#confirmation-hint .panel-arrowcontent,
#UITourTooltip .panel-arrowcontent,
#customization-lwtheme-menu .panel-arrowcontent,
#customization-uidensity-menu .panel-arrowcontent {
    padding: 16px !important;
}

#customization-uidensity-menu .panel-arrowcontent,
#customization-lwtheme-menu .panel-arrowcontent {
    padding-top: 8px !important;
}

.customization-lwtheme-menu-theme,
.customization-uidensity-menuitem {
    padding: 0 16px !important;
    margin: 0 -16px !important;
    border: 0 !important;
    height: 48px !important;
}

.customization-lwtheme-menu-theme .toolbarbutton-icon,
.customization-uidensity-menuitem .menu-iconic-icon {
    margin: 0 !important;
    margin-inline-end: 16px !important;
    padding: 0 !important;
    width: 24px !important;
    height: 24px !important;
}

.customization-lwtheme-menu-theme[active]:not(:hover):not(:active),
.customization-uidensity-menuitem[active]:not(:hover):not(:active) {
    background: 0 !important;
}

.customization-lwtheme-menu-theme[active]::after,
.customization-uidensity-menuitem[active]::after {
    content: url(checkmark-18dp.svg) !important;
    -moz-context-properties: fill, fill-opacity !important;
    fill: currentColor !important;
    display: -moz-box !important;
    width: 18px !important;
    height: 18px !important;
    margin-inline-start: 16px !important;
}

#customization-lwtheme-menu-footer {
    padding: 0 !important;
    background: 0 !important;
    border: 0 !important;
    display: flex !important;
    flex-direction: column !important;
}

#customization-lwtheme-menu-footer toolbarbutton {
    border: 0 !important;
    margin: 0 -6px 0 !important;
    height: 48px !important;
    padding: 0 16px !important;
    display: flex !important;
    background-image: none !important;
}

#customization-lwtheme-menu-footer toolbarbutton .toolbarbutton-text {
    text-align: start !important;
}

.panel-footer {
    padding: 4px !important;
    background: var(--base_color1) !important;
    border-top: 1px solid var(--panel-separator-color) !important;
    justify-content: end !important;
    display: flex !important;
}

.panel-footer button {
    border: 0 !important;
    border-radius: 4px !important;
    margin: 4px !important;
    height: 32px !important;
    padding: 0 !important;
    flex: 0 0 auto !important;
    position: relative !important;
    outline: 0 !important;
}

.panel-footer button > .button-box {
    -moz-appearance: none !important;
    position: relative !important;
    padding-inline-end: 16px !important;
}

.panel-footer button .button-menu-dropmarker {
    margin-inline-start: 8px !important;
    margin-inline-end: -8px !important;
}

.panel-footer button:not([default]) > .button-box::before {
    content: "" !important;
    display: block !important;
    border-radius: 4px !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: 1px solid currentColor !important;
    opacity: .42 !important;
    box-sizing: border-box !important;
}

.panel-footer button:not([default]):hover:active:not([disabled]) > .button-box::before {
    border-width: 0 !important;
}

.panel-footer button:not([default]):hover:active:not([disabled]) {
    border-width: 0 !important;
    background: #002275 !important;
    color: #FFF !important;
}

#PopupAutoComplete > richlistbox > richlistitem[originaltype="loginWithOrigin"] {
    height: 48px !important;
}

richlistitem[originaltype="loginsFooter"],
richlistitem[originaltype="generatedPassword"] > .two-line-wrapper {
    display: flex !important;
    align-items: center !important;
}

richlistitem:-moz-any(
    [originaltype="generatedPassword"],
    [originaltype="loginWithOrigin"],
    [originaltype="login"],
    [originaltype="loginsFooter"]) .ac-site-icon {
    display: block !important;
    align-self: center !important;
    margin-inline: 0 16px !important;
    fill: currentColor !important;
}

richlistitem[originaltype="loginsFooter"] .ac-site-icon {
    visibility: hidden !important;
}

richlistitem:-moz-any(
    [originaltype="generatedPassword"],
    [originaltype="loginWithOrigin"],
    [originaltype="login"],
    [originaltype="loginsFooter"]) .ac-title {
    margin: 0 !important;
}

#confirmation-hint-message-container,
#confirmation-hint-checkmark-animation-container {
    margin-block: 8px !important;
    margin-inline: 8px !important;
}

#confirmation-hint-checkmark-animation-container {
    margin-inline-end: 0 !important;
}

/* high DPI adjustments */
@media (min--moz-device-pixel-ratio: 2) {
    .PanelUI-subView .subviewbutton-nav::after,
    .identity-popup-content-blocking-category::after
    {
        content: url(menu-right-2x.svg) !important;
    }
}







/* ==================== OVERFLOW MENU ==================== */

.panel-arrow {
    fill: var(--base_color1) !important;
}

.panel-subview-body {
    color: var(--outer_color3) !important;
    background: var(--base_color1) !important;
    border-color: var(--outer_color3) !important;
}

.appMenu-zoomReset-button {
    color: var(--outer_color1) !important;
    fill: var(--outer_color1) !important;
    border-color: var(--outer_color1) !important;
    border-radius: 3px !important;
    background-color: var(--base_color1) !important;
}

.subviewbutton.panel-subview-footer {
    background-color: var(--base_color1) !important;
    border-top: 0px solid !important;
}

.panel-header {
    border-bottom: 1px solid var(--base_color3) !important;
    background: var(--base_color1) !important;
}

.panel-subview-footer,
[class^="PanelUI-"] {
    color: var(--outer_color2) !important;
    background: var(--base_color1) !important;
}

.subviewbutton.panel-subview-footer {
    background-color: var(--base_color1) !important;
    border-top: 1px solid var(--base_color3) !important;
}

.appMenu-tp-separator,
toolbarseparator {
    display: visible !important;
    border-color: var(--base_color3) !important;
}

.subviewbutton[shortcut]::after {
    color: var(--orbit_color) !important;
}


.subviewbutton-nav::after {
    fill: var(--outer_color3) !important;
}

#appMenu-zoomReduce-button {
    background: transparent !important;
    color: var(--outer_color3) !important;
    border: 0px solid var(--outer_color3) !important;
    border-radius: 0px !important;
}

#appMenu-zoomReset-button label {
    background: transparent !important;
    color: var(--outer_color3) !important;
    border-radius: 0px !important;
}

#appMenu-zoomReset-button {
    background: transparent !important;
    color: var(--orbit_color) !important;
    border: 1px solid var(--outer_color3) !important;
    border-radius: 0px !important;

}

#appMenu-fullscreen-button {
    background: transparent !important;
    color: var(--outer_color3) !important;
    border: 0px solid var(--orbit_color) !important;
    border-radius: 0px !important;
}

#appMenu-zoomEnlarge-button {
    background: transparent !important;
    color: var(--outer_color3) !important;
    border: 0px solid var(--orbit_color) !important;
    border-radius: 0px !important;
}







/* ===================== FINDBAR ===================== */

.findbar-container {
    background: var(--base_color1) !important;
}
.findbar-textbox {
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    background-position: 5px center !important;
    fill-opacity: 1 !important;
    border: 0 !important;
    box-shadow: none !important;
    margin-inline-start: 2px !important;
    padding-inline-start: 28px !important;
}

hbox[anonid="findbar-textbox-wrapper"] {
    background-color: var(--base_color1) !important;
    border-radius: 16px !important;
    position: relative !important;
    display: flex !important;
    padding: 2px !important;
    transition: background-color .1s var(--ease-basic) !important;
}

hbox[anonid="findbar-textbox-wrapper"]:hover {
    background-color: var(--base_color1) !important;
}

hbox[anonid="findbar-textbox-wrapper"]:focus-within {
    background-color: var(--base_color1) !important;
    border: 2px solid var(--base_color3) !important;
    margin: -1px !important;
    padding: 1px !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton {
    border-radius: 99px !important;
    border: 0 !important;
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
    display: flex !important;
    background: 0 !important;
    transition: background-color .2s var(--ease-basic) !important;
    margin: 0 !important;
    box-shadow: none !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton .toolbarbutton-text {
    visibility: collapse !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton:not([disabled]):hover {
    background-color: var(--base_color2) !important;
}

hbox[anonid="findbar-textbox-wrapper"] toolbarbutton:not([disabled]):hover:active {
    background-color: var(--base_color1) !important;
    transition-duration: 0 !important;
}





/* ================== LIBRARY MENU ================== */

/* These change top bar background color */
#placesToolbar {
    background-color: var(--dark_color3) !important;
    color: var(--word_color2) !important
}

/* These change the lists background color */
#placesView
#placesView .scrollbox-innerbox,
#infoPane,
#placesList,
#placeContent, 
/* This one changes the urlbar star bookmarking folder tree backgrund color */
#editBMPanel_folderTree {
    -moz-appearance: none !important; 
    background: var(--dark_color2) !important; 
    color: var(--word_color2) !important
}

/* These change the list header background and text colors */
#placeContent treecol {
    -moz-appearance: none !important; 
    background: var(--dark_color4) !important;
    padding: 0px !important;
    color: var(--word_color2) !important;
    border-left: 1px solid var(--dark_color3) !important;
    border-bottom: 1px solid var(--dark_color3) !important
}

#placeContent treecol:hover {
    -moz-appearance: none !important; 
    background: rgba(255,255,255, 0.15) !important;
    color: var(--word_color1) !important
}

/* This changes the right border on the left list panel */
#placesView > splitter {
    border-inline-end: 0px solid var(--dark_color3) !important
}

/* These change the odd rows of the lists */
#placeContent tree,
#placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-row(odd),
#placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-row(hover) {
    background-color: var(--dark_color2) !important
}


#placeContent treechildren:not(.autocomplete-treebody)::-moz-tree-row(selected) {
    background-color: var(--orbit_color) !important
}

#placeContent treechildren::-moz-tree-cell {
    border-right: 0px dotted rgba(0,0,0,0.4) !important
}

#placeContent > splitter {
    border: 0px solid red !important
}

/* This changes the forward and back buttons opacity when disabled */
#placesToolbar > toolbarbutton[disabled] > .toolbarbutton-icon {
    opacity: .25 !important
}
    
/* This changes the forward and back buttons color */
#back-button > .toolbarbutton-icon,
#forward-button > .toolbarbutton-icon {
    fill: var(--word_color3) !important; opacity: 1 !important
}

/* This deletes the leftover border when clicking one of the top buttons */
#placesMenu > menu {
    border: none !important
}

/* This changes the text color of the "clear downloads" button */
#clearDownloadsButton {
    color: var(--word_color3) !important
}

#clearDownloadsButton[disabled] {
    color: var(--dark_color4) !important
}

/* This themes the search box */
#searchFilter {
    transition: all 0.25s ease-in-out !important;
    -moz-appearance: none !important; 
    border: 1px solid var(--dark_color4) !important;
    background-color: var(--dark_color4) !important;
    color: var(--word_color3) !important;
}
    
/* This themes the search box on hover */
#searchFilter[focused="true"] {
    box-shadow: var(--input-field-focus-shadow) !important;
    background-color: var(--dark_color4) !important;
    color: var(--word_color1) !important;
}

/* This themes the information box on the lower part of the library menu */
#detailsDeck {
    background-color: var(--dark_color2) !important; 
    color: var(--word_color3) !important;
    border-top: 2px solid #222 !important;
}

/* This changes the text boxes inside the library bottom information box */
#infoBox textbox, #infoBox listbox, 
/* This changes the text boxes on the popup when bookmarking a page from the url box */
#editBMPanel_namePicker,
#editBMPanel_tagsField,
#editBMPanel_tagsSelector {
    transition: all 0.25s ease-in-out !important;
    -moz-appearance: none !important; 
    border: 0px !important;
    background-color: var(--dark_color3) !important;
    color: var(--word_color2) !important;
}

/* A fix for bookmark preferences... so that some boxes won't appear brighter than others */
#bookmarkproperties #editBMPanel_namePicker, 
#bookmarkproperties #editBMPanel_tagsField,
#bookmarkproperties #editBMPanel_tagsSelector {
    background-color: var(--dark_color3) !important;
}

/* This changes the same text boxes on hover */
#infoBox textbox[focused="true"], #infoBox listbox[focused="true"],
/* This changes the same url bookmarking popup text boxes on hover */
#editBMPanel_namePicker[focused="true"],
#editBMPanel_tagsField[focused="true"],
#infoBox #bookmarkproperties #editBMPanel_namePicker[focused="true"],
#infoBox #bookmarkproperties #editBMPanel_tagsField[focused="true"] {
    box-shadow: var(--Input-field-focus-shadow) !important;
    background-color: var(--dark_color3) !important;
    color: var(--word_color1) !important;
}

/* This changes the buttons inside the bookmarking popup at the url star */
#editBMPanel_newFolderButton,
#editBookmarkPanelDoneButton, 
#editBookmarkPanelRemoveButton,
#tracking-action-unblock-private, 
#identity-popup-popup-menulist,
#tracking-action-block,
#tracking-action-unblock {
    -moz-appearance: none !important;
    border-radius: 8px !important;
    background: var(--dark_color3) !important;
    border: 0px !important;
    color: var(--word_color2) !important;
    padding: 0.3em !important;
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

#editBMPanel_newFolderButton:hover,
#editBookmarkPanelDoneButton:hover, 
#editBookmarkPanelRemoveButton:hover,
#tracking-action-unblock-private:hover, 
#identity-popup-popup-menulist:hover,
#tracking-action-block:hover, 
#tracking-action-unblock:hover { 
    background: var(--dark_color3) !important;
    color: var(--word_color1) !important;
}

#editBookmarkPanelBottomButtons {
    background: transparent !important;
}

/* These change the expander buttons on the library and bookmarking popup */
#editBMPanel_folderMenuList,
#editBMPanel_tagsSelectorExpander,
#editBMPanel_foldersExpander,
#detailsDeck button {
    -moz-appearance: none !important;
    border: 3px solid var(--dark_color3) !important;
    background: var(--dark_color3) !important;
    color: var(--word_color1) !important;
}

#editBMPanel_folderMenuList:hover,
#editBMPanel_tagsSelectorExpander:hover, 
#editBMPanel_foldersExpander:hover,
#detailsDeck button:hover {
    background: var(--dark_color3) !important;
    color: var(--word_color1) !important;
}

#editBMPanel_folderMenuList {
    padding: 1px !important;
    color: var(--word_color2) !important;
}

/* These change the downloads history list background */
#downloadsRichListBox {
    background: var(--dark_color2) !important;
    color: var(--word_color2) !important;
}

#statuspanel-label {
    -moz-appearance: none !important;
    background: transparent !important;
    color: var(--word_color3) !important;
    border: 0px solid var(--dark_color3) !important;
}

panel #editBMPanel, .panel-arrow, .panel-arrowcontent {
    background-color: var(--dark_color1) !important;
}






/* ================ NAVIGATION/URL BAR ================ */

#urlbar[breakout][breakout-extend]:not([open]) {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
}

#urlbar[breakout][breakout-extend]:not([open]) > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
}

#urlbar-container {
    margin-top: -1px !important;
}

/* More tools... button */
#nav-bar-overflow-button {
    transform: scale(0.9, 0.9) !important;
}

.urlbarView {
    position: absolute !important;
    width: 55vw !important;
    background: var(--base_color1) !important;
}

#urlbar-background,
.urlbar-history-dropmarker,
#urlbar-go-button {
    display: none !important;
}

#urlbar.megabar {
    max-height: 28px !important;
}

#urlbar-input-container, .megabar{
    background: var(--base_color1) !important;
}

/* Fix padding around URL bar */
#urlbar-container, #search-container {
    padding: 0 !important;
    min-width: 50px !important;
}


#searchbar {
    background: var(--base_color1) !important;
    color: var(--outer_color1) !important;
}

#urlbar-background,
#urlbar {
    border: none !important;
}

/* Move hamburger menu to the left 
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow { 
  -moz-box-ordinal-group: 0 !important;
} */

/* Make Back, Forward, Stop, Go disappear when not in use */
#back-button[disabled="true"],
#forward-button[disabled="true"],
#stop-button[disabled="true"]
#go-button-stack,
.search-go-button-stack {
    display: none; 
}

#back-button {
    list-style-image: url("chrome://browser/skin/back.svg") !important; 
    transform: scale(0.9) !important;
}
#forward-button {
    list-style-image: url("chrome://browser/skin/forward.svg") !important; 
    transform: scale(0.9) !important;
}
#reload-button {
    list-style-image: url("chrome://browser/skin/panel-icon-retry.svg") !important;
}
#stop-button {
    list-style-image: url("chrome://browser/skin/panel-icon-cancel.svg") !important;
}
#home-button {
    transform: scale(0.9) !important;
}

/* Make hover background of above transparent */
.toolbarbutton-icon, toolbar toolbarbutton > .toolbarbutton-badge-stack, toolbarbutton #PanelUI-menu-button:hover {
    background: transparent !important;
}
#urlbar-background {
    background: var(--base_color1) !important;
}

/* Hide various elements */
/* Menu */
#appMenu-fxa-container,
#appMenu-fxa-container+toolbarseparator,
#appMenuRestoreLastSession,
#appMenu-zoom-controls,
#appMenu-zoom-controls+toolbarseparator,
#appMenu-edit-controls,
#appMenu-edit-controls+toolbarseparator,
#appMenu-library-button,
#appMenu-customize-button,
#appMenu-customize-button+toolbarseparator,
#appMenu-open-file-button,
#appMenu-save-file-button,
#appMenu-find-button,
#appMenu-more-button,
/* URL Bar */
#pageActionButton,
#pocket-button-box,
#ar-button,
.autocomplete-history-dropmarker,
#identity-icon-label {
    display: none !important;
}

/* Identity Icons BG Dark */
#identity-popup-securityView,
#identity-popup-security-content,
.identity-popup-section,
#identity-popup-securityView-footer,
#identity-popup-mainView-panel-header,
#protections-popup-mainView-panel-header,
#identity-box,
#protections-popup-siteNotWorkingView-footer,
#tracking-protection-icon-container {
    background-color: var(--base_color1) !important;
}

/* Tracking protection icon Modif */
#tracking-protection-icon-container {
    fill: var(--orbit_color) !important;
}

/* Identity icon Modif */
#identity-icon {
    list-style-image:url("./icons/welcome-back.svg")!important;
}

#identity-icon-labels {
    display: none !important;
}

/* Make Sidebar Dark */
#protections-popup-mainView, #protections-popup-footer, #sidebar, #sidebar-header, #bookmarksPanel, #bookmarks-view, #history-panel, #historyTree, #sidebar-switcher-target, #viewButton, .panel-footer > button{
    background-color: var(--base_color1) !important;
}

.panel-footer > button:hover {
    background: var(--base_color3) !important;
}





/* ================== TAB BAR ================== */

.tabbrowser-tab {
  height: 28px !important; 
}
/* Disables Tab-line*/
.tabbrowser-tab .tab-line {
    display: none !important;
}

/* No highkighting tabs on hover*/
.tab-content:hover {
    background: var(--base_color1) !important;
}
/* Transparent background on selected tab */
.tabbrowser-tab[visuallyselected] .tab-background {
    background: transparent !important;
}
/* different background on multiselectrd tabs */
.tabbrowser-tab[multiselected]:not([selected]) .tab-content {
    background: var(--base_color2) !important;
}
.tabbrowser-tab[visuallyselected] {
    border: 2px solid #0078d7 !important;
    border-radius: 4px 4px 0 0 !important;
    border-bottom: 2px solid var(--base_color1) !important;
}

/* The Blue line in the top bar*/
#main-window:not([sizemode="maximized"]) #navigator-toolbox:after {
    content: "";
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgb(0,3,1),rgb(0, 140, 255),rgb(0,120,215),rgb(0,120,215),rgb(0,120,215),rgb(0,140,215), rgb(0,3,1));
    clip:rect(24px,2600px,26px,0px);
    position: absolute !important;
}
#navigator-toolbox:after {
    content: "";
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgb(0,3,1),rgb(0, 140, 255),rgb(0,120,215),rgb(0,120,215),rgb(0,120,215),rgb(0,140,215), rgb(0,3,1));
    clip:rect(31px,2600px,33px,0px);
    position: absolute !important;
}
#navigator-toolbox {
    border-bottom: 0px !important;
}

/* Glowing tab favicon */
.tab-icon-image[selected="true"] {
    filter: drop-shadow(0 0 5px var(--outer_color1))
}

/* Make hovered tab icon, tab label normal */
.tabbrowser-tab:not(:hover):not([selected]) .tab-icon-image, .tabbrowser-tab:not(:hover):not([selected]) .tab-label {
    filter: brightness(0.5) !important;
}

/* Close Button, Mute/Sound Button show on Hover */
.tabbrowser-tab:not([pinned]):not(:hover) .tab-close-button, .tabbrowser-tab:not([pinned]):not(:hover) .tab-icon-sound {
    visibility: collapse !important;
}

/* Remove Tab Seperatorb */
.tabbrowser-tab::before, .tabbrowser-tab::after{
    display: none !important;
}
/* Pending Tab Italic Style */
.tabbrowser-tab[pending] {
    font-style: italic !important;
}





/* =================== TWEAKS =================== */

/* Remove Extra Spacing at Start*/
.titlebar-spacer[type="pre-tabs"]{
    display: none !important;
}
/* Removes scroll button in exess tabs */
.scrollbutton-up, .scrollbutton-down {
    display: none !important;
}
/* Removes all-tab-button in exess tabs */
#alltabs-button {
    display: none !important;
}
/* Change cursor for links that open in new tab/window */
:link[target="_blank"], :visited[target="_blank"],
:link[target="_new"], :visited[target="_new"] {
    cursor: crosshair;
}
/* Add a keyword when adding a bookmark */
#keywordRow {
    display: -moz-grid-line !important;
}
#PopupAutoComplete > richlistbox > richlistitem[originaltype="loginsFooter"] {
    visibility: collapse !important;
}
/*flash of white when loading new pages. */
#browser vbox#appcontent tabbrowser, #content, #tabbrowser-tabpanels, browser[type=content-primary], browser[type=content] > html {
    background: var(--base_color1) !important; 
    background-color: var(--base_color1) !important; 
    color: var(--base_color1) !important;
}
/* Hide Scrollbar from Sidebar */
.hidevscroll-scrollbar {
    display: none !important;
}

/* Remove setting from url dropdown */
.search-panel-one-offs {
    display: none !important;
}
/* Removes extra line after tracking protection container */
#tracking-protection-icon-container, #identity-box {
    border: none !important;
}
/* Removes Save Page and Send Pange from context menu */
#context-savepage, #context-sendpagetodevice, #context-sep-sendpagetodevice, #context-sep-navigation {
    display:none !important;
}
/* Findbar at bottom Modif */
.findbar {
    background: var(--base_color1) !important;
}
.findbar-textbox, .findbar-find-next, .findbar-find-previous {
    border: none !important;
}
.findbar-button:hover {
    background: var(--base_color3) !important;
}
/* Windows control modifs */
.titlebar-button>.toolbarbutton-icon {
    height: 14px !important;
    width: 14px !important;
}
.titlebar-button {
    padding-left: 0px !important;
    padding-top: 6px !important;
    background: none !important;
}
/* Minimize Button */
.titlebar-min {
    list-style-image: url("./icons/min.svg") !important;
}
.titlebar-min:hover {
    list-style-image: url("./icons/min_hover.svg") !important;
}
/* Maximize Button */
.titlebar-max, .titlebar-restore {
    list-style-image: url("./icons/max_restore.svg") !important;
}
.titlebar-max:hover {
    list-style-image: url("./icons/max_hover.svg") !important;
}
.titlebar-restore:hover {
    list-style-image: url("./icons/restore_hover.svg") !important;
}
/* Close Button */
.titlebar-close {
    list-style-image: url("./icons/close.svg") !important;
}
.titlebar-close:hover {
    list-style-image: url("./icons/close_hover.svg") !important;
}

/* Disable What's New and Exit from Hamburger */
#appMenu-whatsnew-button,#appMenu-quit-button{
    display: none !important;
}